/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.victorycode.sdk.models.CreateClassificationRequest
import ai.victorycode.sdk.models.CreateClassificationResponse
import ai.victorycode.sdk.models.DeleteClassificationResponse
import ai.victorycode.sdk.models.ListClassificationsResponse
import ai.victorycode.sdk.models.UpdateClassificationRequest
import ai.victorycode.sdk.models.UpdateClassificationResponse

import com.squareup.moshi.Json

import ai.victorycode.sdk.infrastructure.ApiClient
import ai.victorycode.sdk.infrastructure.ApiResponse
import ai.victorycode.sdk.infrastructure.ClientException
import ai.victorycode.sdk.infrastructure.ClientError
import ai.victorycode.sdk.infrastructure.ServerException
import ai.victorycode.sdk.infrastructure.ServerError
import ai.victorycode.sdk.infrastructure.MultiValueMap
import ai.victorycode.sdk.infrastructure.PartConfig
import ai.victorycode.sdk.infrastructure.RequestConfig
import ai.victorycode.sdk.infrastructure.RequestMethod
import ai.victorycode.sdk.infrastructure.ResponseType
import ai.victorycode.sdk.infrastructure.Success
import ai.victorycode.sdk.infrastructure.toMultiValue

open class ClassificationsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * POST /api/v1/client/classifications
     * Create a new classification
     * Creates a new classification record in the Tactix platform. Classifications are used to categorize teams by league, division, or competition level (e.g., “Division 1A”, “Junior Varsity”).
     * @param createClassificationRequest 
     * @return CreateClassificationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createClassification(createClassificationRequest: CreateClassificationRequest) : CreateClassificationResponse {
        val localVarResponse = createClassificationWithHttpInfo(createClassificationRequest = createClassificationRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateClassificationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/client/classifications
     * Create a new classification
     * Creates a new classification record in the Tactix platform. Classifications are used to categorize teams by league, division, or competition level (e.g., “Division 1A”, “Junior Varsity”).
     * @param createClassificationRequest 
     * @return ApiResponse<CreateClassificationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createClassificationWithHttpInfo(createClassificationRequest: CreateClassificationRequest) : ApiResponse<CreateClassificationResponse?> {
        val localVariableConfig = createClassificationRequestConfig(createClassificationRequest = createClassificationRequest)

        return request<CreateClassificationRequest, CreateClassificationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createClassification
     *
     * @param createClassificationRequest 
     * @return RequestConfig
     */
    fun createClassificationRequestConfig(createClassificationRequest: CreateClassificationRequest) : RequestConfig<CreateClassificationRequest> {
        val localVariableBody = createClassificationRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/client/classifications",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/client/classifications/{id}
     * Delete a classification
     * Deletes a specific classification from the Tactix system using its unique id. This permanently removes the classification and disassociates it from any linked team records.
     * @param id 
     * @return DeleteClassificationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteClassification(id: kotlin.String) : DeleteClassificationResponse {
        val localVarResponse = deleteClassificationWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteClassificationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/client/classifications/{id}
     * Delete a classification
     * Deletes a specific classification from the Tactix system using its unique id. This permanently removes the classification and disassociates it from any linked team records.
     * @param id 
     * @return ApiResponse<DeleteClassificationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteClassificationWithHttpInfo(id: kotlin.String) : ApiResponse<DeleteClassificationResponse?> {
        val localVariableConfig = deleteClassificationRequestConfig(id = id)

        return request<Unit, DeleteClassificationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteClassification
     *
     * @param id 
     * @return RequestConfig
     */
    fun deleteClassificationRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/client/classifications/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/classifications
     * Get all classifications
     * Retrieves a paginated list of all classifications available to the authenticated client. Each classification object includes a name, description, and timestamps for creation and modification. This endpoint is typically used to populate dropdowns or filters when creating or updating teams.
     * @param limit  (optional)
     * @param page  (optional)
     * @return ListClassificationsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listClassifications(limit: kotlin.Int? = null, page: kotlin.Int? = null) : ListClassificationsResponse {
        val localVarResponse = listClassificationsWithHttpInfo(limit = limit, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListClassificationsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/classifications
     * Get all classifications
     * Retrieves a paginated list of all classifications available to the authenticated client. Each classification object includes a name, description, and timestamps for creation and modification. This endpoint is typically used to populate dropdowns or filters when creating or updating teams.
     * @param limit  (optional)
     * @param page  (optional)
     * @return ApiResponse<ListClassificationsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listClassificationsWithHttpInfo(limit: kotlin.Int?, page: kotlin.Int?) : ApiResponse<ListClassificationsResponse?> {
        val localVariableConfig = listClassificationsRequestConfig(limit = limit, page = page)

        return request<Unit, ListClassificationsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listClassifications
     *
     * @param limit  (optional)
     * @param page  (optional)
     * @return RequestConfig
     */
    fun listClassificationsRequestConfig(limit: kotlin.Int?, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/classifications",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/v1/client/classifications/{id}
     * Update a classification
     * Updates an existing classification identified by its unique id. This endpoint allows modification of the classification’s name or description.
     * @param id 
     * @param updateClassificationRequest 
     * @return UpdateClassificationResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateClassification(id: kotlin.String, updateClassificationRequest: UpdateClassificationRequest) : UpdateClassificationResponse {
        val localVarResponse = updateClassificationWithHttpInfo(id = id, updateClassificationRequest = updateClassificationRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UpdateClassificationResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/v1/client/classifications/{id}
     * Update a classification
     * Updates an existing classification identified by its unique id. This endpoint allows modification of the classification’s name or description.
     * @param id 
     * @param updateClassificationRequest 
     * @return ApiResponse<UpdateClassificationResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateClassificationWithHttpInfo(id: kotlin.String, updateClassificationRequest: UpdateClassificationRequest) : ApiResponse<UpdateClassificationResponse?> {
        val localVariableConfig = updateClassificationRequestConfig(id = id, updateClassificationRequest = updateClassificationRequest)

        return request<UpdateClassificationRequest, UpdateClassificationResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateClassification
     *
     * @param id 
     * @param updateClassificationRequest 
     * @return RequestConfig
     */
    fun updateClassificationRequestConfig(id: kotlin.String, updateClassificationRequest: UpdateClassificationRequest) : RequestConfig<UpdateClassificationRequest> {
        val localVariableBody = updateClassificationRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/v1/client/classifications/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
