/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.victorycode.sdk.models.GetGameRecapScoreResponse
import ai.victorycode.sdk.models.GetGameRecapScoringSummaryResponse
import ai.victorycode.sdk.models.GetGameRecapTeamStatsResponse

import com.squareup.moshi.Json

import ai.victorycode.sdk.infrastructure.ApiClient
import ai.victorycode.sdk.infrastructure.ApiResponse
import ai.victorycode.sdk.infrastructure.ClientException
import ai.victorycode.sdk.infrastructure.ClientError
import ai.victorycode.sdk.infrastructure.ServerException
import ai.victorycode.sdk.infrastructure.ServerError
import ai.victorycode.sdk.infrastructure.MultiValueMap
import ai.victorycode.sdk.infrastructure.PartConfig
import ai.victorycode.sdk.infrastructure.RequestConfig
import ai.victorycode.sdk.infrastructure.RequestMethod
import ai.victorycode.sdk.infrastructure.ResponseType
import ai.victorycode.sdk.infrastructure.Success
import ai.victorycode.sdk.infrastructure.toMultiValue

open class GameRecapApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * GET /api/v1/client/game-recap/{gameId}/score
     * Get the Game Recap Score for a specific Game
     * Retrieves the overall score for the specified game. This includes the final scoreline and also include period-by-period (quarters) breakdowns.
     * @param gameId 
     * @return GetGameRecapScoreResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapScore(gameId: kotlin.String) : GetGameRecapScoreResponse {
        val localVarResponse = getGameRecapScoreWithHttpInfo(gameId = gameId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetGameRecapScoreResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{gameId}/score
     * Get the Game Recap Score for a specific Game
     * Retrieves the overall score for the specified game. This includes the final scoreline and also include period-by-period (quarters) breakdowns.
     * @param gameId 
     * @return ApiResponse<GetGameRecapScoreResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapScoreWithHttpInfo(gameId: kotlin.String) : ApiResponse<GetGameRecapScoreResponse?> {
        val localVariableConfig = getGameRecapScoreRequestConfig(gameId = gameId)

        return request<Unit, GetGameRecapScoreResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapScore
     *
     * @param gameId 
     * @return RequestConfig
     */
    fun getGameRecapScoreRequestConfig(gameId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{gameId}/score".replace("{"+"gameId"+"}", encodeURIComponent(gameId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/game-recap/{gameId}/scoring-summary
     * Get the Game Recap Scoring Summary for a specific Game.
     * Retrieves a chronological summary of all scoring plays for the specified game. Each record is linked to a playId, enabling clients to correlate the scoring event with detailed play data.
     * @param gameId 
     * @return GetGameRecapScoringSummaryResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapScoringSummary(gameId: kotlin.String) : GetGameRecapScoringSummaryResponse {
        val localVarResponse = getGameRecapScoringSummaryWithHttpInfo(gameId = gameId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetGameRecapScoringSummaryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{gameId}/scoring-summary
     * Get the Game Recap Scoring Summary for a specific Game.
     * Retrieves a chronological summary of all scoring plays for the specified game. Each record is linked to a playId, enabling clients to correlate the scoring event with detailed play data.
     * @param gameId 
     * @return ApiResponse<GetGameRecapScoringSummaryResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapScoringSummaryWithHttpInfo(gameId: kotlin.String) : ApiResponse<GetGameRecapScoringSummaryResponse?> {
        val localVariableConfig = getGameRecapScoringSummaryRequestConfig(gameId = gameId)

        return request<Unit, GetGameRecapScoringSummaryResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapScoringSummary
     *
     * @param gameId 
     * @return RequestConfig
     */
    fun getGameRecapScoringSummaryRequestConfig(gameId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{gameId}/scoring-summary".replace("{"+"gameId"+"}", encodeURIComponent(gameId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/game-recap/{gameId}/team-stats
     * Get the Game Recap Team Stats for a specific Game.
     * Retrieves a statistical summary for both the home and away teams in a specific game. The response includes key offensive and first-down metrics, allowing clients to analyze game efficiency, offensive output, and team balance between rushing and passing plays.
     * @param gameId 
     * @return GetGameRecapTeamStatsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapTeamStats(gameId: kotlin.String) : GetGameRecapTeamStatsResponse {
        val localVarResponse = getGameRecapTeamStatsWithHttpInfo(gameId = gameId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetGameRecapTeamStatsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{gameId}/team-stats
     * Get the Game Recap Team Stats for a specific Game.
     * Retrieves a statistical summary for both the home and away teams in a specific game. The response includes key offensive and first-down metrics, allowing clients to analyze game efficiency, offensive output, and team balance between rushing and passing plays.
     * @param gameId 
     * @return ApiResponse<GetGameRecapTeamStatsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapTeamStatsWithHttpInfo(gameId: kotlin.String) : ApiResponse<GetGameRecapTeamStatsResponse?> {
        val localVariableConfig = getGameRecapTeamStatsRequestConfig(gameId = gameId)

        return request<Unit, GetGameRecapTeamStatsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapTeamStats
     *
     * @param gameId 
     * @return RequestConfig
     */
    fun getGameRecapTeamStatsRequestConfig(gameId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{gameId}/team-stats".replace("{"+"gameId"+"}", encodeURIComponent(gameId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
