/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.victorycode.sdk.models.CreateMascotResponse
import ai.victorycode.sdk.models.DeleteMascotResponse
import ai.victorycode.sdk.models.ListMascotsResponse
import ai.victorycode.sdk.models.UpdateMascotResponse

import com.squareup.moshi.Json

import ai.victorycode.sdk.infrastructure.ApiClient
import ai.victorycode.sdk.infrastructure.ApiResponse
import ai.victorycode.sdk.infrastructure.ClientException
import ai.victorycode.sdk.infrastructure.ClientError
import ai.victorycode.sdk.infrastructure.ServerException
import ai.victorycode.sdk.infrastructure.ServerError
import ai.victorycode.sdk.infrastructure.MultiValueMap
import ai.victorycode.sdk.infrastructure.PartConfig
import ai.victorycode.sdk.infrastructure.RequestConfig
import ai.victorycode.sdk.infrastructure.RequestMethod
import ai.victorycode.sdk.infrastructure.ResponseType
import ai.victorycode.sdk.infrastructure.Success
import ai.victorycode.sdk.infrastructure.toMultiValue

open class MascotsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * POST /api/v1/client/mascots
     * Create a new mascot
     * Creates a new mascot record in the Tactix system. Clients can define the mascot’s name, description, and image URL, which can later be associated with one or more teams. This endpoint is typically used when onboarding new teams or setting up school/club branding assets.
     * @param name 
     * @param description 
     * @param mascotImage  (optional)
     * @return CreateMascotResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createMascot(name: kotlin.String, description: kotlin.String, mascotImage: java.io.File? = null) : CreateMascotResponse {
        val localVarResponse = createMascotWithHttpInfo(name = name, description = description, mascotImage = mascotImage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateMascotResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/client/mascots
     * Create a new mascot
     * Creates a new mascot record in the Tactix system. Clients can define the mascot’s name, description, and image URL, which can later be associated with one or more teams. This endpoint is typically used when onboarding new teams or setting up school/club branding assets.
     * @param name 
     * @param description 
     * @param mascotImage  (optional)
     * @return ApiResponse<CreateMascotResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createMascotWithHttpInfo(name: kotlin.String, description: kotlin.String, mascotImage: java.io.File?) : ApiResponse<CreateMascotResponse?> {
        val localVariableConfig = createMascotRequestConfig(name = name, description = description, mascotImage = mascotImage)

        return request<Map<String, PartConfig<*>>, CreateMascotResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createMascot
     *
     * @param name 
     * @param description 
     * @param mascotImage  (optional)
     * @return RequestConfig
     */
    fun createMascotRequestConfig(name: kotlin.String, description: kotlin.String, mascotImage: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "name" to PartConfig(body = name, headers = mutableMapOf()),
            "description" to PartConfig(body = description, headers = mutableMapOf()),
            "mascotImage" to PartConfig(body = mascotImage, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/client/mascots",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/client/mascots/{id}
     * Delete a mascot
     * Deletes a specific mascot from the Tactix system using its unique id. This operation permanently removes the mascot record and any direct associations it holds with teams. It should be used with caution, as deleted mascots cannot be restored through the API.
     * @param id 
     * @return DeleteMascotResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteMascot(id: kotlin.String) : DeleteMascotResponse {
        val localVarResponse = deleteMascotWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteMascotResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/client/mascots/{id}
     * Delete a mascot
     * Deletes a specific mascot from the Tactix system using its unique id. This operation permanently removes the mascot record and any direct associations it holds with teams. It should be used with caution, as deleted mascots cannot be restored through the API.
     * @param id 
     * @return ApiResponse<DeleteMascotResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteMascotWithHttpInfo(id: kotlin.String) : ApiResponse<DeleteMascotResponse?> {
        val localVariableConfig = deleteMascotRequestConfig(id = id)

        return request<Unit, DeleteMascotResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteMascot
     *
     * @param id 
     * @return RequestConfig
     */
    fun deleteMascotRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/client/mascots/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/mascots
     * Get all mascots
     * Retrieves a paginated list of all mascots available to the authenticated client. Each mascot record contains the name, description, image URL, and timestamps. This endpoint is ideal for displaying mascot lists, searching for existing records, or selecting mascots to associate with teams.
     * @param limit  (optional)
     * @param page  (optional)
     * @return ListMascotsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listMascots(limit: kotlin.Int? = null, page: kotlin.Int? = null) : ListMascotsResponse {
        val localVarResponse = listMascotsWithHttpInfo(limit = limit, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListMascotsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/mascots
     * Get all mascots
     * Retrieves a paginated list of all mascots available to the authenticated client. Each mascot record contains the name, description, image URL, and timestamps. This endpoint is ideal for displaying mascot lists, searching for existing records, or selecting mascots to associate with teams.
     * @param limit  (optional)
     * @param page  (optional)
     * @return ApiResponse<ListMascotsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listMascotsWithHttpInfo(limit: kotlin.Int?, page: kotlin.Int?) : ApiResponse<ListMascotsResponse?> {
        val localVariableConfig = listMascotsRequestConfig(limit = limit, page = page)

        return request<Unit, ListMascotsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listMascots
     *
     * @param limit  (optional)
     * @param page  (optional)
     * @return RequestConfig
     */
    fun listMascotsRequestConfig(limit: kotlin.Int?, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/mascots",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/v1/client/mascots/{id}
     * Update a mascot
     * Updates the details of an existing mascot identified by its unique id. This endpoint allows clients to modify a mascot’s name, description, and image, ensuring team branding and contextual information remain accurate and up to date.
     * @param id 
     * @param name  (optional)
     * @param description  (optional)
     * @param mascotImage  (optional)
     * @return UpdateMascotResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateMascot(id: kotlin.String, name: kotlin.String? = null, description: kotlin.String? = null, mascotImage: java.io.File? = null) : UpdateMascotResponse {
        val localVarResponse = updateMascotWithHttpInfo(id = id, name = name, description = description, mascotImage = mascotImage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UpdateMascotResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/v1/client/mascots/{id}
     * Update a mascot
     * Updates the details of an existing mascot identified by its unique id. This endpoint allows clients to modify a mascot’s name, description, and image, ensuring team branding and contextual information remain accurate and up to date.
     * @param id 
     * @param name  (optional)
     * @param description  (optional)
     * @param mascotImage  (optional)
     * @return ApiResponse<UpdateMascotResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateMascotWithHttpInfo(id: kotlin.String, name: kotlin.String?, description: kotlin.String?, mascotImage: java.io.File?) : ApiResponse<UpdateMascotResponse?> {
        val localVariableConfig = updateMascotRequestConfig(id = id, name = name, description = description, mascotImage = mascotImage)

        return request<Map<String, PartConfig<*>>, UpdateMascotResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateMascot
     *
     * @param id 
     * @param name  (optional)
     * @param description  (optional)
     * @param mascotImage  (optional)
     * @return RequestConfig
     */
    fun updateMascotRequestConfig(id: kotlin.String, name: kotlin.String?, description: kotlin.String?, mascotImage: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "name" to PartConfig(body = name, headers = mutableMapOf()),
            "description" to PartConfig(body = description, headers = mutableMapOf()),
            "mascotImage" to PartConfig(body = mascotImage, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/v1/client/mascots/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
