/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.victorycode.sdk.models.CreateTeamResponse
import ai.victorycode.sdk.models.DeleteTeamResponse

import com.squareup.moshi.Json

import ai.victorycode.sdk.infrastructure.ApiClient
import ai.victorycode.sdk.infrastructure.ApiResponse
import ai.victorycode.sdk.infrastructure.ClientException
import ai.victorycode.sdk.infrastructure.ClientError
import ai.victorycode.sdk.infrastructure.ServerException
import ai.victorycode.sdk.infrastructure.ServerError
import ai.victorycode.sdk.infrastructure.MultiValueMap
import ai.victorycode.sdk.infrastructure.PartConfig
import ai.victorycode.sdk.infrastructure.RequestConfig
import ai.victorycode.sdk.infrastructure.RequestMethod
import ai.victorycode.sdk.infrastructure.ResponseType
import ai.victorycode.sdk.infrastructure.Success
import ai.victorycode.sdk.infrastructure.toMultiValue

open class TeamsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * POST /api/v1/client/teams
     * Create a new team
     * Creates a new team record in the Tactix system. This endpoint allows clients to define a new team with key details such as name, short name, sport type, classification, mascot(s), and logo. Once created, the team can be referenced in other modules such as Games, Plays, or Game Recaps.
     * @param name 
     * @param sport (This can only be one of football,rugby,golf,soccer,nfl)
     * @param shortName 
     * @param mascots Array of Mascot IDs (must not be empty)
     * @param classification Classification ID
     * @param teamLogo  (optional)
     * @return CreateTeamResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createTeam(name: kotlin.String, sport: kotlin.String, shortName: kotlin.String, mascots: kotlin.String, classification: kotlin.String, teamLogo: java.io.File? = null) : CreateTeamResponse {
        val localVarResponse = createTeamWithHttpInfo(name = name, sport = sport, shortName = shortName, mascots = mascots, classification = classification, teamLogo = teamLogo)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateTeamResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/client/teams
     * Create a new team
     * Creates a new team record in the Tactix system. This endpoint allows clients to define a new team with key details such as name, short name, sport type, classification, mascot(s), and logo. Once created, the team can be referenced in other modules such as Games, Plays, or Game Recaps.
     * @param name 
     * @param sport (This can only be one of football,rugby,golf,soccer,nfl)
     * @param shortName 
     * @param mascots Array of Mascot IDs (must not be empty)
     * @param classification Classification ID
     * @param teamLogo  (optional)
     * @return ApiResponse<CreateTeamResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createTeamWithHttpInfo(name: kotlin.String, sport: kotlin.String, shortName: kotlin.String, mascots: kotlin.String, classification: kotlin.String, teamLogo: java.io.File?) : ApiResponse<CreateTeamResponse?> {
        val localVariableConfig = createTeamRequestConfig(name = name, sport = sport, shortName = shortName, mascots = mascots, classification = classification, teamLogo = teamLogo)

        return request<Map<String, PartConfig<*>>, CreateTeamResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createTeam
     *
     * @param name 
     * @param sport (This can only be one of football,rugby,golf,soccer,nfl)
     * @param shortName 
     * @param mascots Array of Mascot IDs (must not be empty)
     * @param classification Classification ID
     * @param teamLogo  (optional)
     * @return RequestConfig
     */
    fun createTeamRequestConfig(name: kotlin.String, sport: kotlin.String, shortName: kotlin.String, mascots: kotlin.String, classification: kotlin.String, teamLogo: java.io.File?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "name" to PartConfig(body = name, headers = mutableMapOf()),
            "sport" to PartConfig(body = sport, headers = mutableMapOf()),
            "shortName" to PartConfig(body = shortName, headers = mutableMapOf()),
            "mascots" to PartConfig(body = mascots, headers = mutableMapOf()),
            "classification" to PartConfig(body = classification, headers = mutableMapOf()),
            "teamLogo" to PartConfig(body = teamLogo, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/client/teams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/v1/client/teams/{id}
     * Delete a team
     * Deletes a specific team from the Tactix system using its unique id. This operation permanently removes the team record and its related metadata from the client’s accessible data scope. It should be used with caution, as deleted teams cannot be restored via the API.
     * @param id 
     * @return DeleteTeamResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteTeam(id: kotlin.String) : DeleteTeamResponse {
        val localVarResponse = deleteTeamWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteTeamResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/v1/client/teams/{id}
     * Delete a team
     * Deletes a specific team from the Tactix system using its unique id. This operation permanently removes the team record and its related metadata from the client’s accessible data scope. It should be used with caution, as deleted teams cannot be restored via the API.
     * @param id 
     * @return ApiResponse<DeleteTeamResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteTeamWithHttpInfo(id: kotlin.String) : ApiResponse<DeleteTeamResponse?> {
        val localVariableConfig = deleteTeamRequestConfig(id = id)

        return request<Unit, DeleteTeamResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteTeam
     *
     * @param id 
     * @return RequestConfig
     */
    fun deleteTeamRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/v1/client/teams/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/teams
     * Get teams
     * Retrieves a paginated list of all teams available to the authenticated client. Each team object includes its name, short name, sport type, associated mascots, classification details, logo, and timestamps. This endpoint is typically used for team directories, selection lists, or administrative dashboards that require viewing multiple teams at once.
     * @param limit  (optional)
     * @param page  (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listTeams(limit: kotlin.Int? = null, page: kotlin.Int? = null) : kotlin.String {
        val localVarResponse = listTeamsWithHttpInfo(limit = limit, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/teams
     * Get teams
     * Retrieves a paginated list of all teams available to the authenticated client. Each team object includes its name, short name, sport type, associated mascots, classification details, logo, and timestamps. This endpoint is typically used for team directories, selection lists, or administrative dashboards that require viewing multiple teams at once.
     * @param limit  (optional)
     * @param page  (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listTeamsWithHttpInfo(limit: kotlin.Int?, page: kotlin.Int?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = listTeamsRequestConfig(limit = limit, page = page)

        return request<Unit, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listTeams
     *
     * @param limit  (optional)
     * @param page  (optional)
     * @return RequestConfig
     */
    fun listTeamsRequestConfig(limit: kotlin.Int?, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "text/plain"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/teams",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/v1/client/teams/{id}
     * Update a team
     * Updates the information of an existing team identified by its unique id. This endpoint allows clients to modify team attributes such as name, short name, sport type, classification, mascots, coach, or logo. Upon successful update, the response returns the updated team object and a confirmation message.
     * @param id 
     * @param name  (optional)
     * @param sport (This can only be one of football,rugby,golf,soccer,nfl) (optional)
     * @param shortName  (optional)
     * @param teamLogo  (optional)
     * @param mascots Array of Mascot IDs (must not be empty) (optional)
     * @param classification Classification ID (optional)
     * @return kotlin.String
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateTeam(id: kotlin.String, name: kotlin.String? = null, sport: kotlin.String? = null, shortName: kotlin.String? = null, teamLogo: java.io.File? = null, mascots: kotlin.String? = null, classification: kotlin.String? = null) : kotlin.String {
        val localVarResponse = updateTeamWithHttpInfo(id = id, name = name, sport = sport, shortName = shortName, teamLogo = teamLogo, mascots = mascots, classification = classification)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.String
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/v1/client/teams/{id}
     * Update a team
     * Updates the information of an existing team identified by its unique id. This endpoint allows clients to modify team attributes such as name, short name, sport type, classification, mascots, coach, or logo. Upon successful update, the response returns the updated team object and a confirmation message.
     * @param id 
     * @param name  (optional)
     * @param sport (This can only be one of football,rugby,golf,soccer,nfl) (optional)
     * @param shortName  (optional)
     * @param teamLogo  (optional)
     * @param mascots Array of Mascot IDs (must not be empty) (optional)
     * @param classification Classification ID (optional)
     * @return ApiResponse<kotlin.String?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateTeamWithHttpInfo(id: kotlin.String, name: kotlin.String?, sport: kotlin.String?, shortName: kotlin.String?, teamLogo: java.io.File?, mascots: kotlin.String?, classification: kotlin.String?) : ApiResponse<kotlin.String?> {
        val localVariableConfig = updateTeamRequestConfig(id = id, name = name, sport = sport, shortName = shortName, teamLogo = teamLogo, mascots = mascots, classification = classification)

        return request<Map<String, PartConfig<*>>, kotlin.String>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateTeam
     *
     * @param id 
     * @param name  (optional)
     * @param sport (This can only be one of football,rugby,golf,soccer,nfl) (optional)
     * @param shortName  (optional)
     * @param teamLogo  (optional)
     * @param mascots Array of Mascot IDs (must not be empty) (optional)
     * @param classification Classification ID (optional)
     * @return RequestConfig
     */
    fun updateTeamRequestConfig(id: kotlin.String, name: kotlin.String?, sport: kotlin.String?, shortName: kotlin.String?, teamLogo: java.io.File?, mascots: kotlin.String?, classification: kotlin.String?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "name" to PartConfig(body = name, headers = mutableMapOf()),
            "sport" to PartConfig(body = sport, headers = mutableMapOf()),
            "shortName" to PartConfig(body = shortName, headers = mutableMapOf()),
            "teamLogo" to PartConfig(body = teamLogo, headers = mutableMapOf()),
            "mascots" to PartConfig(body = mascots, headers = mutableMapOf()),
            "classification" to PartConfig(body = classification, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "text/plain"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/v1/client/teams/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
