/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.victorycode.sdk.models.GetUploadStatusResponse
import ai.victorycode.sdk.models.UploadVideoAndCreateGameResponse

import com.squareup.moshi.Json

import ai.victorycode.sdk.infrastructure.ApiClient
import ai.victorycode.sdk.infrastructure.ApiResponse
import ai.victorycode.sdk.infrastructure.ClientException
import ai.victorycode.sdk.infrastructure.ClientError
import ai.victorycode.sdk.infrastructure.ServerException
import ai.victorycode.sdk.infrastructure.ServerError
import ai.victorycode.sdk.infrastructure.MultiValueMap
import ai.victorycode.sdk.infrastructure.PartConfig
import ai.victorycode.sdk.infrastructure.RequestConfig
import ai.victorycode.sdk.infrastructure.RequestMethod
import ai.victorycode.sdk.infrastructure.ResponseType
import ai.victorycode.sdk.infrastructure.Success
import ai.victorycode.sdk.infrastructure.toMultiValue

open class UploadsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * GET /api/v1/client/uploads/{uploadId}
     * Video file upload status
     * This endpoint retrieves the status of an uploaded video file. It allows clients to check if their upload is still in progress, successfully processed, or failed.
     * @param uploadId 
     * @return GetUploadStatusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getUploadStatus(uploadId: kotlin.String) : GetUploadStatusResponse {
        val localVarResponse = getUploadStatusWithHttpInfo(uploadId = uploadId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetUploadStatusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/uploads/{uploadId}
     * Video file upload status
     * This endpoint retrieves the status of an uploaded video file. It allows clients to check if their upload is still in progress, successfully processed, or failed.
     * @param uploadId 
     * @return ApiResponse<GetUploadStatusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getUploadStatusWithHttpInfo(uploadId: kotlin.String) : ApiResponse<GetUploadStatusResponse?> {
        val localVariableConfig = getUploadStatusRequestConfig(uploadId = uploadId)

        return request<Unit, GetUploadStatusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getUploadStatus
     *
     * @param uploadId 
     * @return RequestConfig
     */
    fun getUploadStatusRequestConfig(uploadId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/uploads/{uploadId}".replace("{"+"uploadId"+"}", encodeURIComponent(uploadId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/v1/client/uploads
     * Upload video and create new game
     * This endpoint is used to upload a game video along with its metadata (teams, venue, location, etc.). Once uploaded, the video will be processed by the Tactix AI platform to generate clips, stats, and summaries.
     * @param name 
     * @param video 
     * @param homeTeam ObjectId of home team
     * @param awayTeam ObjectId of away team
     * @param venue 
     * @param location 
     * @param description  (optional)
     * @return UploadVideoAndCreateGameResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun uploadVideoAndCreateGame(name: kotlin.String, video: java.io.File, homeTeam: kotlin.String, awayTeam: kotlin.String, venue: kotlin.String, location: kotlin.String, description: kotlin.String? = null) : UploadVideoAndCreateGameResponse {
        val localVarResponse = uploadVideoAndCreateGameWithHttpInfo(name = name, video = video, homeTeam = homeTeam, awayTeam = awayTeam, venue = venue, location = location, description = description)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UploadVideoAndCreateGameResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/v1/client/uploads
     * Upload video and create new game
     * This endpoint is used to upload a game video along with its metadata (teams, venue, location, etc.). Once uploaded, the video will be processed by the Tactix AI platform to generate clips, stats, and summaries.
     * @param name 
     * @param video 
     * @param homeTeam ObjectId of home team
     * @param awayTeam ObjectId of away team
     * @param venue 
     * @param location 
     * @param description  (optional)
     * @return ApiResponse<UploadVideoAndCreateGameResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun uploadVideoAndCreateGameWithHttpInfo(name: kotlin.String, video: java.io.File, homeTeam: kotlin.String, awayTeam: kotlin.String, venue: kotlin.String, location: kotlin.String, description: kotlin.String?) : ApiResponse<UploadVideoAndCreateGameResponse?> {
        val localVariableConfig = uploadVideoAndCreateGameRequestConfig(name = name, video = video, homeTeam = homeTeam, awayTeam = awayTeam, venue = venue, location = location, description = description)

        return request<Map<String, PartConfig<*>>, UploadVideoAndCreateGameResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation uploadVideoAndCreateGame
     *
     * @param name 
     * @param video 
     * @param homeTeam ObjectId of home team
     * @param awayTeam ObjectId of away team
     * @param venue 
     * @param location 
     * @param description  (optional)
     * @return RequestConfig
     */
    fun uploadVideoAndCreateGameRequestConfig(name: kotlin.String, video: java.io.File, homeTeam: kotlin.String, awayTeam: kotlin.String, venue: kotlin.String, location: kotlin.String, description: kotlin.String?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "name" to PartConfig(body = name, headers = mutableMapOf()),
            "video" to PartConfig(body = video, headers = mutableMapOf()),
            "homeTeam" to PartConfig(body = homeTeam, headers = mutableMapOf()),
            "awayTeam" to PartConfig(body = awayTeam, headers = mutableMapOf()),
            "venue" to PartConfig(body = venue, headers = mutableMapOf()),
            "location" to PartConfig(body = location, headers = mutableMapOf()),
            "description" to PartConfig(body = description, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/client/uploads",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
