/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.tactixai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.tactixai.victorycode.sdk.models.BadRequestErrorResponseDto
import com.tactixai.victorycode.sdk.models.GameBoxScoreResponseDto
import com.tactixai.victorycode.sdk.models.GameRecapScoringSummaryProResponse
import com.tactixai.victorycode.sdk.models.GameRecapScoringSummaryResponse
import com.tactixai.victorycode.sdk.models.GameRecapTeamStatsResponse
import com.tactixai.victorycode.sdk.models.GameScoreResponse
import com.tactixai.victorycode.sdk.models.NotFoundErrorResponseDto
import com.tactixai.victorycode.sdk.models.UnauthorizedErrorResponseDto

import com.squareup.moshi.Json

import com.tactixai.victorycode.sdk.infrastructure.ApiClient
import com.tactixai.victorycode.sdk.infrastructure.ApiResponse
import com.tactixai.victorycode.sdk.infrastructure.ClientException
import com.tactixai.victorycode.sdk.infrastructure.ClientError
import com.tactixai.victorycode.sdk.infrastructure.ServerException
import com.tactixai.victorycode.sdk.infrastructure.ServerError
import com.tactixai.victorycode.sdk.infrastructure.MultiValueMap
import com.tactixai.victorycode.sdk.infrastructure.PartConfig
import com.tactixai.victorycode.sdk.infrastructure.RequestConfig
import com.tactixai.victorycode.sdk.infrastructure.RequestMethod
import com.tactixai.victorycode.sdk.infrastructure.ResponseType
import com.tactixai.victorycode.sdk.infrastructure.Success
import com.tactixai.victorycode.sdk.infrastructure.toMultiValue

open class GameRecapApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/game-box-score
     * Get the Game Recap Game Box Score for a specific Game.
     * Retrieves full game box score stats for both teams and players for a specific game.
     * @param videoId 
     * @return GameBoxScoreResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapGameBoxScore(videoId: kotlin.String) : GameBoxScoreResponseDto {
        val localVarResponse = getGameRecapGameBoxScoreWithHttpInfo(videoId = videoId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameBoxScoreResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/game-box-score
     * Get the Game Recap Game Box Score for a specific Game.
     * Retrieves full game box score stats for both teams and players for a specific game.
     * @param videoId 
     * @return ApiResponse<GameBoxScoreResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapGameBoxScoreWithHttpInfo(videoId: kotlin.String) : ApiResponse<GameBoxScoreResponseDto?> {
        val localVariableConfig = getGameRecapGameBoxScoreRequestConfig(videoId = videoId)

        return request<Unit, GameBoxScoreResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapGameBoxScore
     *
     * @param videoId 
     * @return RequestConfig
     */
    fun getGameRecapGameBoxScoreRequestConfig(videoId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{videoId}/game-box-score".replace("{"+"videoId"+"}", encodeURIComponent(videoId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/score
     * Get the Game Recap Score for a specific Game.
     * Retrieves the final score and the score breakdown by quarter and overtime periods for both the home and away teams.
     * @param videoId 
     * @return GameScoreResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapScore(videoId: kotlin.String) : GameScoreResponse {
        val localVarResponse = getGameRecapScoreWithHttpInfo(videoId = videoId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameScoreResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/score
     * Get the Game Recap Score for a specific Game.
     * Retrieves the final score and the score breakdown by quarter and overtime periods for both the home and away teams.
     * @param videoId 
     * @return ApiResponse<GameScoreResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapScoreWithHttpInfo(videoId: kotlin.String) : ApiResponse<GameScoreResponse?> {
        val localVariableConfig = getGameRecapScoreRequestConfig(videoId = videoId)

        return request<Unit, GameScoreResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapScore
     *
     * @param videoId 
     * @return RequestConfig
     */
    fun getGameRecapScoreRequestConfig(videoId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{videoId}/score".replace("{"+"videoId"+"}", encodeURIComponent(videoId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/scoring-summary
     * Get the Game Recap Scoring Summary for a specific Game.
     * Retrieves a chronological list of all scoring plays for a specific game, including details about the play, the drive, and the resulting score.
     * @param videoId 
     * @return GameRecapScoringSummaryResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapScoringSummary(videoId: kotlin.String) : GameRecapScoringSummaryResponse {
        val localVarResponse = getGameRecapScoringSummaryWithHttpInfo(videoId = videoId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameRecapScoringSummaryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/scoring-summary
     * Get the Game Recap Scoring Summary for a specific Game.
     * Retrieves a chronological list of all scoring plays for a specific game, including details about the play, the drive, and the resulting score.
     * @param videoId 
     * @return ApiResponse<GameRecapScoringSummaryResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapScoringSummaryWithHttpInfo(videoId: kotlin.String) : ApiResponse<GameRecapScoringSummaryResponse?> {
        val localVariableConfig = getGameRecapScoringSummaryRequestConfig(videoId = videoId)

        return request<Unit, GameRecapScoringSummaryResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapScoringSummary
     *
     * @param videoId 
     * @return RequestConfig
     */
    fun getGameRecapScoringSummaryRequestConfig(videoId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{videoId}/scoring-summary".replace("{"+"videoId"+"}", encodeURIComponent(videoId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/scoring-summary-pro
     * Get the Game Recap Scoring Summary Pro for a specific Game.
     * Retrieves the full pro scoring summary for a specific game with drive context and players involved for each scoring play.
     * @param videoId 
     * @return GameRecapScoringSummaryProResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapScoringSummaryPro(videoId: kotlin.String) : GameRecapScoringSummaryProResponse {
        val localVarResponse = getGameRecapScoringSummaryProWithHttpInfo(videoId = videoId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameRecapScoringSummaryProResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/scoring-summary-pro
     * Get the Game Recap Scoring Summary Pro for a specific Game.
     * Retrieves the full pro scoring summary for a specific game with drive context and players involved for each scoring play.
     * @param videoId 
     * @return ApiResponse<GameRecapScoringSummaryProResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapScoringSummaryProWithHttpInfo(videoId: kotlin.String) : ApiResponse<GameRecapScoringSummaryProResponse?> {
        val localVariableConfig = getGameRecapScoringSummaryProRequestConfig(videoId = videoId)

        return request<Unit, GameRecapScoringSummaryProResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapScoringSummaryPro
     *
     * @param videoId 
     * @return RequestConfig
     */
    fun getGameRecapScoringSummaryProRequestConfig(videoId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{videoId}/scoring-summary-pro".replace("{"+"videoId"+"}", encodeURIComponent(videoId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/team-stats
     * Get the Game Recap Team Stats for a specific Game.
     * Retrieves a detailed statistical breakdown for both the home and away teams, covering offense, defense, and special teams performance.
     * @param videoId 
     * @return GameRecapTeamStatsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGameRecapTeamStats(videoId: kotlin.String) : GameRecapTeamStatsResponse {
        val localVarResponse = getGameRecapTeamStatsWithHttpInfo(videoId = videoId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameRecapTeamStatsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game-recap/{videoId}/team-stats
     * Get the Game Recap Team Stats for a specific Game.
     * Retrieves a detailed statistical breakdown for both the home and away teams, covering offense, defense, and special teams performance.
     * @param videoId 
     * @return ApiResponse<GameRecapTeamStatsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameRecapTeamStatsWithHttpInfo(videoId: kotlin.String) : ApiResponse<GameRecapTeamStatsResponse?> {
        val localVariableConfig = getGameRecapTeamStatsRequestConfig(videoId = videoId)

        return request<Unit, GameRecapTeamStatsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGameRecapTeamStats
     *
     * @param videoId 
     * @return RequestConfig
     */
    fun getGameRecapTeamStatsRequestConfig(videoId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game-recap/{videoId}/team-stats".replace("{"+"videoId"+"}", encodeURIComponent(videoId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
