/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package com.tactixai.victorycode.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.tactixai.victorycode.sdk.models.BadRequestErrorResponseDto
import com.tactixai.victorycode.sdk.models.ListGameAllPlaysResponseDto
import com.tactixai.victorycode.sdk.models.ListPlayClipsResponseDto
import com.tactixai.victorycode.sdk.models.NotFoundErrorResponseDto
import com.tactixai.victorycode.sdk.models.PlayClipListItemDto
import com.tactixai.victorycode.sdk.models.UnauthorizedErrorResponseDto

import com.squareup.moshi.Json

import com.tactixai.victorycode.sdk.infrastructure.ApiClient
import com.tactixai.victorycode.sdk.infrastructure.ApiResponse
import com.tactixai.victorycode.sdk.infrastructure.ClientException
import com.tactixai.victorycode.sdk.infrastructure.ClientError
import com.tactixai.victorycode.sdk.infrastructure.ServerException
import com.tactixai.victorycode.sdk.infrastructure.ServerError
import com.tactixai.victorycode.sdk.infrastructure.MultiValueMap
import com.tactixai.victorycode.sdk.infrastructure.PartConfig
import com.tactixai.victorycode.sdk.infrastructure.RequestConfig
import com.tactixai.victorycode.sdk.infrastructure.RequestMethod
import com.tactixai.victorycode.sdk.infrastructure.ResponseType
import com.tactixai.victorycode.sdk.infrastructure.Success
import com.tactixai.victorycode.sdk.infrastructure.toMultiValue

open class PlaysEventsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://sandbox.api.tactixai.com")
        }
    }

    /**
     * GET /api/v1/client/plays/{playId}
     * Get the single Play Clip
     * Retrieves the complete metadata for a single play clip by its unique ID.
     * @param playId 
     * @return PlayClipListItemDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPlayById(playId: kotlin.String) : PlayClipListItemDto {
        val localVarResponse = getPlayByIdWithHttpInfo(playId = playId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PlayClipListItemDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/plays/{playId}
     * Get the single Play Clip
     * Retrieves the complete metadata for a single play clip by its unique ID.
     * @param playId 
     * @return ApiResponse<PlayClipListItemDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPlayByIdWithHttpInfo(playId: kotlin.String) : ApiResponse<PlayClipListItemDto?> {
        val localVariableConfig = getPlayByIdRequestConfig(playId = playId)

        return request<Unit, PlayClipListItemDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPlayById
     *
     * @param playId 
     * @return RequestConfig
     */
    fun getPlayByIdRequestConfig(playId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/plays/{playId}".replace("{"+"playId"+"}", encodeURIComponent(playId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter down
     */
     enum class DownGetPlaysOfGame(val value: kotlin.String) {
         @Json(name = "1") _1("1"),
         @Json(name = "2") _2("2"),
         @Json(name = "3") _3("3"),
         @Json(name = "4") _4("4");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter distanceZone
     */
     enum class DistanceZoneGetPlaysOfGame(val value: kotlin.String) {
         @Json(name = "SHORT") SHORT("SHORT"),
         @Json(name = "MEDIUM") MEDIUM("MEDIUM"),
         @Json(name = "LONG") LONG("LONG"),
         @Json(name = "X_LONG") X_LONG("X_LONG");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter playType
     */
     enum class PlayTypeGetPlaysOfGame(val value: kotlin.String) {
         @Json(name = "RUN") RUN("RUN"),
         @Json(name = "PASS") PASS("PASS"),
         @Json(name = "FIELD_GOAL") FIELD_GOAL("FIELD_GOAL"),
         @Json(name = "KICKOFF") KICKOFF("KICKOFF"),
         @Json(name = "PUNT") PUNT("PUNT"),
         @Json(name = "EXTRA_POINT") EXTRA_POINT("EXTRA_POINT"),
         @Json(name = "TWO_POINT_CONVERSION") TWO_POINT_CONVERSION("TWO_POINT_CONVERSION"),
         @Json(name = "NO_PLAY") NO_PLAY("NO_PLAY"),
         @Json(name = "UNIDENTIFIABLE") UNIDENTIFIABLE("UNIDENTIFIABLE");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/v1/client/game/{gameId}/plays
     * Get a list of all plays for a game
     * Retrieves a paginated list of all plays for a given game. The results can be filtered by various play attributes.
     * @param gameId 
     * @param limit The number of results to return per page. (optional, default to 50)
     * @param offset The number of results to skip for pagination. (optional, default to 0)
     * @param search  (optional)
     * @param down Filter by down number (optional)
     * @param distanceZone Filter by distance zone (yards to go) (optional)
     * @param playType Filter by analyzed play type (optional)
     * @return ListGameAllPlaysResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPlaysOfGame(gameId: kotlin.String, limit: java.math.BigDecimal? = java.math.BigDecimal("50"), offset: java.math.BigDecimal? = java.math.BigDecimal("0"), search: kotlin.String? = null, down: DownGetPlaysOfGame? = null, distanceZone: DistanceZoneGetPlaysOfGame? = null, playType: PlayTypeGetPlaysOfGame? = null) : ListGameAllPlaysResponseDto {
        val localVarResponse = getPlaysOfGameWithHttpInfo(gameId = gameId, limit = limit, offset = offset, search = search, down = down, distanceZone = distanceZone, playType = playType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListGameAllPlaysResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/game/{gameId}/plays
     * Get a list of all plays for a game
     * Retrieves a paginated list of all plays for a given game. The results can be filtered by various play attributes.
     * @param gameId 
     * @param limit The number of results to return per page. (optional, default to 50)
     * @param offset The number of results to skip for pagination. (optional, default to 0)
     * @param search  (optional)
     * @param down Filter by down number (optional)
     * @param distanceZone Filter by distance zone (yards to go) (optional)
     * @param playType Filter by analyzed play type (optional)
     * @return ApiResponse<ListGameAllPlaysResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPlaysOfGameWithHttpInfo(gameId: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, search: kotlin.String?, down: DownGetPlaysOfGame?, distanceZone: DistanceZoneGetPlaysOfGame?, playType: PlayTypeGetPlaysOfGame?) : ApiResponse<ListGameAllPlaysResponseDto?> {
        val localVariableConfig = getPlaysOfGameRequestConfig(gameId = gameId, limit = limit, offset = offset, search = search, down = down, distanceZone = distanceZone, playType = playType)

        return request<Unit, ListGameAllPlaysResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPlaysOfGame
     *
     * @param gameId 
     * @param limit The number of results to return per page. (optional, default to 50)
     * @param offset The number of results to skip for pagination. (optional, default to 0)
     * @param search  (optional)
     * @param down Filter by down number (optional)
     * @param distanceZone Filter by distance zone (yards to go) (optional)
     * @param playType Filter by analyzed play type (optional)
     * @return RequestConfig
     */
    fun getPlaysOfGameRequestConfig(gameId: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, search: kotlin.String?, down: DownGetPlaysOfGame?, distanceZone: DistanceZoneGetPlaysOfGame?, playType: PlayTypeGetPlaysOfGame?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (down != null) {
                    put("down", listOf(down.value))
                }
                if (distanceZone != null) {
                    put("distanceZone", listOf(distanceZone.value))
                }
                if (playType != null) {
                    put("playType", listOf(playType.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/game/{gameId}/plays".replace("{"+"gameId"+"}", encodeURIComponent(gameId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter down
     */
     enum class DownGetPlaysOfVideo(val value: kotlin.String) {
         @Json(name = "1") _1("1"),
         @Json(name = "2") _2("2"),
         @Json(name = "3") _3("3"),
         @Json(name = "4") _4("4");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter distanceZone
     */
     enum class DistanceZoneGetPlaysOfVideo(val value: kotlin.String) {
         @Json(name = "SHORT") SHORT("SHORT"),
         @Json(name = "MEDIUM") MEDIUM("MEDIUM"),
         @Json(name = "LONG") LONG("LONG"),
         @Json(name = "X_LONG") X_LONG("X_LONG");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter playType
     */
     enum class PlayTypeGetPlaysOfVideo(val value: kotlin.String) {
         @Json(name = "RUN") RUN("RUN"),
         @Json(name = "PASS") PASS("PASS"),
         @Json(name = "FIELD_GOAL") FIELD_GOAL("FIELD_GOAL"),
         @Json(name = "KICKOFF") KICKOFF("KICKOFF"),
         @Json(name = "PUNT") PUNT("PUNT"),
         @Json(name = "EXTRA_POINT") EXTRA_POINT("EXTRA_POINT"),
         @Json(name = "TWO_POINT_CONVERSION") TWO_POINT_CONVERSION("TWO_POINT_CONVERSION"),
         @Json(name = "NO_PLAY") NO_PLAY("NO_PLAY"),
         @Json(name = "UNIDENTIFIABLE") UNIDENTIFIABLE("UNIDENTIFIABLE");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /api/v1/client/videos/{videoId}/plays
     * Get a list of play clips for a video
     * Retrieves a paginated list of all play clips for a given video. The results can be filtered by various play attributes.
     * @param videoId 
     * @param limit The number of results to return per page. (optional, default to 50)
     * @param offset The number of results to skip for pagination. (optional, default to 0)
     * @param search  (optional)
     * @param down Filter by down number (optional)
     * @param distanceZone Filter by distance zone (yards to go) (optional)
     * @param playType Filter by analyzed play type (optional)
     * @return ListPlayClipsResponseDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPlaysOfVideo(videoId: kotlin.String, limit: java.math.BigDecimal? = java.math.BigDecimal("50"), offset: java.math.BigDecimal? = java.math.BigDecimal("0"), search: kotlin.String? = null, down: DownGetPlaysOfVideo? = null, distanceZone: DistanceZoneGetPlaysOfVideo? = null, playType: PlayTypeGetPlaysOfVideo? = null) : ListPlayClipsResponseDto {
        val localVarResponse = getPlaysOfVideoWithHttpInfo(videoId = videoId, limit = limit, offset = offset, search = search, down = down, distanceZone = distanceZone, playType = playType)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPlayClipsResponseDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/v1/client/videos/{videoId}/plays
     * Get a list of play clips for a video
     * Retrieves a paginated list of all play clips for a given video. The results can be filtered by various play attributes.
     * @param videoId 
     * @param limit The number of results to return per page. (optional, default to 50)
     * @param offset The number of results to skip for pagination. (optional, default to 0)
     * @param search  (optional)
     * @param down Filter by down number (optional)
     * @param distanceZone Filter by distance zone (yards to go) (optional)
     * @param playType Filter by analyzed play type (optional)
     * @return ApiResponse<ListPlayClipsResponseDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPlaysOfVideoWithHttpInfo(videoId: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, search: kotlin.String?, down: DownGetPlaysOfVideo?, distanceZone: DistanceZoneGetPlaysOfVideo?, playType: PlayTypeGetPlaysOfVideo?) : ApiResponse<ListPlayClipsResponseDto?> {
        val localVariableConfig = getPlaysOfVideoRequestConfig(videoId = videoId, limit = limit, offset = offset, search = search, down = down, distanceZone = distanceZone, playType = playType)

        return request<Unit, ListPlayClipsResponseDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPlaysOfVideo
     *
     * @param videoId 
     * @param limit The number of results to return per page. (optional, default to 50)
     * @param offset The number of results to skip for pagination. (optional, default to 0)
     * @param search  (optional)
     * @param down Filter by down number (optional)
     * @param distanceZone Filter by distance zone (yards to go) (optional)
     * @param playType Filter by analyzed play type (optional)
     * @return RequestConfig
     */
    fun getPlaysOfVideoRequestConfig(videoId: kotlin.String, limit: java.math.BigDecimal?, offset: java.math.BigDecimal?, search: kotlin.String?, down: DownGetPlaysOfVideo?, distanceZone: DistanceZoneGetPlaysOfVideo?, playType: PlayTypeGetPlaysOfVideo?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (offset != null) {
                    put("offset", listOf(offset.toString()))
                }
                if (search != null) {
                    put("search", listOf(search.toString()))
                }
                if (down != null) {
                    put("down", listOf(down.value))
                }
                if (distanceZone != null) {
                    put("distanceZone", listOf(distanceZone.value))
                }
                if (playType != null) {
                    put("playType", listOf(playType.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/client/videos/{videoId}/plays".replace("{"+"videoId"+"}", encodeURIComponent(videoId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
