openapi: 3.0.0
info:
  contact: {}
  description: "Client APIs for Tactix partners: authenticate, upload game video,\
    \ and retrieve games, plays, game recaps and team metadata."
  title: Victory Code Client API
  version: "1.0"
servers:
- description: Sandbox
  url: https://sandbox.api.tactixai.com
- description: Production
  url: https://api.tactixai.com
tags:
- name: Authentication
  x-displayName: Authentication
- name: Uploads
  x-displayName: Uploads
- name: Games
  x-displayName: Games
- name: Plays & Events
  x-displayName: Plays Events
- name: Game Recap
  x-displayName: Game Recap
- name: Teams
  x-displayName: Teams
- name: Mascot
  x-displayName: Mascots
- name: Classification
  x-displayName: Classifications
- name: Venue
  x-displayName: Venues
paths:
  /api/v1/client/auth/token:
    get:
      description: Exchanges client credentials for a temporary bearer token.
      operationId: getAccessToken
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
          description: Authentication successful.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Authentication failed due to invalid appId or appSecret.
      security:
      - Client-App-Id: []
        AppSecret: []
      summary: Get Access Token
      tags:
      - Authentication
      x-accepts:
      - application/json
  /api/v1/client/classifications:
    get:
      description: Retrieves a paginated list of all team classifications available
        in the system.
      operationId: getClassifications
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          minimum: 1
          type: number
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClassificationPaginatedResponseDto"
          description: List of classifications retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get all classifications
      tags:
      - Classification
      x-accepts:
      - application/json
    post:
      description: Creates a new classification entry for categorizing teams.
      operationId: createClassification
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClassificationDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleClassificationResponseDto"
          description: Classification created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Create a new classification
      tags:
      - Classification
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/classifications/{id}:
    delete:
      description: Permanently deletes a team classification from the system.
      operationId: deleteClassification
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponseDto"
          description: Classification deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Delete a classification
      tags:
      - Classification
      x-accepts:
      - application/json
    patch:
      description: Updates an existing team classification entry identified by its
        ID.
      operationId: updateClassification
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClassificationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleClassificationResponseDto"
          description: Classification updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Update a classification
      tags:
      - Classification
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/complete-upload:
    post:
      operationId: completeMultipartUpload
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteMultipartUploadDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteMultipartUploadResponseDto"
          description: Presigned URL for part generated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Validation error
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Complete a multipart upload to S3
      tags:
      - Uploads
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/game-recap/{videoId}/game-box-score:
    get:
      description: Retrieves full game box score stats for both teams and players
        for a specific game.
      operationId: getGameRecapGameBoxScore
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameBoxScoreResponseDto"
          description: Successful retrieval of the Game Recap Game Box Score
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get the Game Recap Game Box Score for a specific Game.
      tags:
      - Game Recap
      x-accepts:
      - application/json
  /api/v1/client/game-recap/{videoId}/score:
    get:
      description: Retrieves the final score and the score breakdown by quarter and
        overtime periods for both the home and away teams.
      operationId: getGameRecapScore
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameScoreResponse"
          description: Successful retrieval of the Game Recap Score.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get the Game Recap Score for a specific Game.
      tags:
      - Game Recap
      x-accepts:
      - application/json
  /api/v1/client/game-recap/{videoId}/scoring-summary:
    get:
      description: "Retrieves a chronological list of all scoring plays for a specific\
        \ game, including details about the play, the drive, and the resulting score."
      operationId: getGameRecapScoringSummary
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRecapScoringSummaryResponse"
          description: Successful retrieval of the Game Recap Scoring Summary
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get the Game Recap Scoring Summary for a specific Game.
      tags:
      - Game Recap
      x-accepts:
      - application/json
  /api/v1/client/game-recap/{videoId}/scoring-summary-pro:
    get:
      description: Retrieves the full pro scoring summary for a specific game with
        drive context and players involved for each scoring play.
      operationId: getGameRecapScoringSummaryPro
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRecapScoringSummaryProResponse"
          description: Successful retrieval of the Game Recap Scoring Summary Pro
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get the Game Recap Scoring Summary Pro for a specific Game.
      tags:
      - Game Recap
      x-accepts:
      - application/json
  /api/v1/client/game-recap/{videoId}/team-stats:
    get:
      description: "Retrieves a detailed statistical breakdown for both the home and\
        \ away teams, covering offense, defense, and special teams performance."
      operationId: getGameRecapTeamStats
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRecapTeamStatsResponse"
          description: a detailed statistical breakdown for both teams
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get the Game Recap Team Stats for a specific Game.
      tags:
      - Game Recap
      x-accepts:
      - application/json
  /api/v1/client/game/{gameId}/plays:
    get:
      description: Retrieves a paginated list of all plays for a given game. The results
        can be filtered by various play attributes.
      operationId: getPlaysOfGame
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: number
        style: form
      - description: The number of results to skip for pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter by down number
        explode: true
        in: query
        name: down
        required: false
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          example: "1"
          type: string
        style: form
      - description: Filter by distance zone (yards to go)
        explode: true
        in: query
        name: distanceZone
        required: false
        schema:
          enum:
          - SHORT
          - MEDIUM
          - LONG
          - X_LONG
          example: LONG
          type: string
        style: form
      - description: Filter by analyzed play type
        explode: true
        in: query
        name: playType
        required: false
        schema:
          enum:
          - RUN
          - PASS
          - FIELD_GOAL
          - KICKOFF
          - PUNT
          - EXTRA_POINT
          - TWO_POINT_CONVERSION
          - NO_PLAY
          - UNIDENTIFIABLE
          example: PASS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGameAllPlaysResponseDto"
          description: A paginated list of plays.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get a list of all plays for a game
      tags:
      - Plays & Events
      x-accepts:
      - application/json
  /api/v1/client/games:
    get:
      description: "Retrieves a paginated list of games, with optional filters for\
        \ team, upload status, and date-time range."
      operationId: getGames
      parameters:
      - description: The number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: number
        style: form
      - description: The number of results to skip for pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGamesPaginatedResponseDto"
          description: Successful retrieval of the paginated list of games
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: List and Filter Games.
      tags:
      - Games
      x-accepts:
      - application/json
    post:
      description: "Registers a new game and associates a video URL (e.g., from a\
        \ third-party source) with it in a single step."
      operationId: createGameWithVideoUrl
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientCreateGameWithVideoUrlDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDetailsResponse"
          description: Game created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: Name already exists
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Create a new Game with Video URL
      tags:
      - Games
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/games/{gameId}:
    get:
      description: "Retrieves the core metadata for a single game, including date,\
        \ time, location, and teams who participated."
      operationId: getGameDetails
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameDetailsResponse"
          description: Successful retrieval of the core game details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Game not found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get a Single Game.
      tags:
      - Games
      x-accepts:
      - application/json
  /api/v1/client/games/{gameId}/video:
    post:
      description: Adds a new video to game.
      operationId: addVideoToGame
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddVideoToGameWithS3LinkDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleVideoResponseDto"
          description: Video added successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Validation error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Add new video to a game
      tags:
      - Games
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/games/{gameId}/videos:
    get:
      description: Retrieves a list of videos of a game.
      operationId: getVideosOfGame
      parameters:
      - explode: false
        in: path
        name: gameId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: number
        style: form
      - description: The number of results to skip for pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVideoPaginatedResponseDto"
          description: Successful retrieval of the list of videos of a game
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get a list of videos of a game
      tags:
      - Games
      x-accepts:
      - application/json
  /api/v1/client/initiate-upload:
    post:
      operationId: initiateUpload
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitiateMultipartUploadDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitiateMultipartUploadResponseDto"
          description: "Multipart upload initiated successfully, returns uploadId."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Validation error
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Initiate a multipart upload to S3 for a large file
      tags:
      - Uploads
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/mascots:
    get:
      description: Retrieves a paginated list of all mascots. Supports searching by
        name and pagination through query parameters.
      operationId: getMascots
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          minimum: 1
          type: number
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMascotPaginatedResponseDto"
          description: List of mascots retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get all mascots
      tags:
      - Mascot
      x-accepts:
      - application/json
    post:
      description: Creates a new mascot record with a name and description. An optional
        mascot image can be uploaded as part of the multipart form data.
      operationId: createMascot
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMascotDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleMascotResponseDto"
          description: Mascot created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Create a new mascot
      tags:
      - Mascot
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/mascots/{id}:
    delete:
      description: Permanently deletes a mascot record from the system.
      operationId: deleteMascot
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponseDto"
          description: Mascot deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Delete a mascot
      tags:
      - Mascot
      x-accepts:
      - application/json
    patch:
      description: "Updates the details of an existing mascot identified by its ID.\
        \ Allows updating the name, description, and mascot image."
      operationId: updateMascot
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMascotDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleMascotResponseDto"
          description: Mascot updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Update a mascot
      tags:
      - Mascot
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/plays/{playId}:
    get:
      description: Retrieves the complete metadata for a single play clip by its unique
        ID.
      operationId: getPlayById
      parameters:
      - explode: false
        in: path
        name: playId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayClipListItemDto"
          description: Successful retrieval of play clip details
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get the single Play Clip
      tags:
      - Plays & Events
      x-accepts:
      - application/json
  /api/v1/client/teams:
    get:
      description: "Retrieves a paginated list of all teams belonging to the client.\
        \ Supports filters for search, sport, and state."
      operationId: getTeams
      parameters:
      - description: The number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: number
        style: form
      - description: The number of results to skip for pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTeamPaginatedResponseDto"
          description: List of teams retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get teams
      tags:
      - Teams
      x-accepts:
      - application/json
    post:
      description: "Registers a new team in the system, including its name, short\
        \ name, sport, mascots, classification."
      operationId: createTeam
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleTeamResponseDto"
          description: Team created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Create a new team
      tags:
      - Teams
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/teams/{id}:
    delete:
      description: Permanently deletes a team record from the system.
      operationId: deleteTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponseDto"
          description: Team deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Delete a team
      tags:
      - Teams
      x-accepts:
      - application/json
    patch:
      description: "Updates the details of an existing team identified by its ID.\
        \ Allows updating the name, short name, coach, logo, and other details."
      operationId: updateTeam
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleTeamResponseDto"
          description: Team updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Update a team
      tags:
      - Teams
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/upload-presigned-url:
    get:
      operationId: getPresignedUrl
      parameters:
      - explode: true
        in: query
        name: uploadId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: partNumber
        required: true
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPartsPresignUrlResponseDto"
          description: Presigned URL for part generated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Validation error
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get a presigned URL for a specific part of a multipart upload
      tags:
      - Uploads
      x-accepts:
      - application/json
  /api/v1/client/venue:
    post:
      description: "Registers a new venue where games are held, including details\
        \ about the venue name and location."
      operationId: createVenue
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVenueDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleVenueResponseDto"
          description: Venue created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Create a new venue
      tags:
      - Venue
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/venue/{id}:
    delete:
      description: Permanently removes a venue registration from the system.
      operationId: deleteVenue
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponseDto"
          description: Venue deleted successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Delete a venue
      tags:
      - Venue
      x-accepts:
      - application/json
    patch:
      description: Updates the information of an existing venue currently registered
        in the system.
      operationId: updateVenue
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVenueDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleVenueResponseDto"
          description: Venue updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: ""
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Update a venue
      tags:
      - Venue
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/client/venues:
    get:
      description: Retrieves a paginated list of all venues where sports events or
        games are conducted.
      operationId: getVenues
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          minimum: 1
          type: number
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVenuePaginatedResponseDto"
          description: List of venues retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: ""
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get all venues
      tags:
      - Venue
      x-accepts:
      - application/json
  /api/v1/client/videos/{videoId}/plays:
    get:
      description: Retrieves a paginated list of all play clips for a given video.
        The results can be filtered by various play attributes.
      operationId: getPlaysOfVideo
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          type: string
        style: simple
      - description: The number of results to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          type: number
        style: form
      - description: The number of results to skip for pagination.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: number
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter by down number
        explode: true
        in: query
        name: down
        required: false
        schema:
          enum:
          - "1"
          - "2"
          - "3"
          - "4"
          example: "1"
          type: string
        style: form
      - description: Filter by distance zone (yards to go)
        explode: true
        in: query
        name: distanceZone
        required: false
        schema:
          enum:
          - SHORT
          - MEDIUM
          - LONG
          - X_LONG
          example: LONG
          type: string
        style: form
      - description: Filter by analyzed play type
        explode: true
        in: query
        name: playType
        required: false
        schema:
          enum:
          - RUN
          - PASS
          - FIELD_GOAL
          - KICKOFF
          - PUNT
          - EXTRA_POINT
          - TWO_POINT_CONVERSION
          - NO_PLAY
          - UNIDENTIFIABLE
          example: PASS
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPlayClipsResponseDto"
          description: A paginated list of plays.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestErrorResponseDto"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedErrorResponseDto"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponseDto"
          description: Not Found
      security:
      - Client-App-Token: []
        Client-App-Id: []
      summary: Get a list of play clips for a video
      tags:
      - Plays & Events
      x-accepts:
      - application/json
components:
  schemas:
    Address:
      example:
        street: 1 Lincoln Financial Field Way
        city: Philadelphia
        state: PA
        postalCode: "19148"
        country: US
      properties:
        street:
          example: 1 Lincoln Financial Field Way
          type: string
        city:
          example: Philadelphia
          type: string
        state:
          example: PA
          type: string
        postalCode:
          example: "19148"
          type: string
        country:
          example: US
          type: string
      required:
      - city
      - country
      - postalCode
      - state
      - street
      type: object
    AddressDto:
      example:
        street: 1 Lincoln Financial Field Way
        city: Philadelphia
        state: PA
        postalCode: "19148"
        country: US
      properties:
        street:
          example: 1 Lincoln Financial Field Way
          type: string
        city:
          example: Philadelphia
          type: string
        state:
          example: PA
          type: string
        postalCode:
          example: "19148"
          type: string
        country:
          example: US
          type: string
      required:
      - city
      - country
      - postalCode
      - state
      - street
      type: object
    AddVideoToGameWithS3LinkDto:
      example:
        viewType: Broadcast Wide
        s3Link: https://tactix-bucket.s3.amazonaws.com/games/2023/week5/game-video.mp4
      properties:
        viewType:
          example: Broadcast Wide
          type: string
        s3Link:
          example: https://tactix-bucket.s3.amazonaws.com/games/2023/week5/game-video.mp4
          type: string
      required:
      - s3Link
      - viewType
      type: object
    BadRequestErrorResponseDto:
      example:
        code: 400
        message: Validation failed
      properties:
        code:
          example: 400
          type: number
        message:
          example: Validation failed
          type: string
      required:
      - code
      - message
      type: object
    Classification:
      example:
        _id: 69b13dc5172b65400e926b31
        name: GRANT_CLS_315
      properties:
        _id:
          example: 69b13dc5172b65400e926b31
          type: string
        name:
          example: GRANT_CLS_315
          type: string
      required:
      - _id
      - name
      type: object
    ClientCreateGameWithVideoUrlDto:
      example:
        name: Winning Strategy
        sourceGameId: Game2026#15
        s3Link: https://tactix-bucket.s3.amazonaws.com/games/2023/week5/game-video.mp4
        homeTeam: 64c8882b9b1df9b17324aabe
        awayTeam: 64c8882b9b1df9b17324aabe
        venue: 64c8882b9b1df9b17324aabe
        season: "2026"
        week: 5
        competitionLevel: HIGH_SCHOOL
        gameStatus: FINAL
        gameDateTime: 2023-11-15
        uploadId: multipart-  upload-id-123
      properties:
        name:
          example: Winning Strategy
          type: string
        sourceGameId:
          example: Game2026#15
          type: string
        s3Link:
          example: https://tactix-bucket.s3.amazonaws.com/games/2023/week5/game-video.mp4
          type: string
        homeTeam:
          description: ObjectId of home team
          example: 64c8882b9b1df9b17324aabe
          type: string
        awayTeam:
          description: ObjectId of away team
          example: 64c8882b9b1df9b17324aabe
          type: string
        venue:
          description: ObjectId of venue
          example: 64c8882b9b1df9b17324aabe
          type: string
        season:
          description: "Four-digit year of the game, 1900-2099. Derive it from the\
            \ game date in the local timezone of the user; spans such as \"2023-24\"\
            \ are rejected."
          example: "2026"
          type: string
        week:
          example: 5
          type: number
        competitionLevel:
          enum:
          - YOUTH
          - HIGH_SCHOOL
          - COLLEGE
          - PROFESSIONAL
          - AMATEUR
          example: HIGH_SCHOOL
          type: string
        gameStatus:
          enum:
          - SCHEDULED
          - DELAYED
          - IN_PROGRESS
          - SUSPENDED
          - FINAL
          - POSTPONED
          - CANCELLED
          example: FINAL
          type: string
        gameDateTime:
          example: 2023-11-15
          type: string
        uploadId:
          example: multipart-  upload-id-123
          type: string
      required:
      - awayTeam
      - homeTeam
      - name
      - s3Link
      - venue
      type: object
    CompletedPartDto:
      example:
        partNumber: 1
        ETag: etag
      properties:
        partNumber:
          example: 1
          type: number
        ETag:
          example: etag
          type: string
      required:
      - ETag
      - partNumber
      type: object
    CompleteMultipartUploadDto:
      example:
        uploadId: uploadId
        parts:
        - partNumber: 1
          ETag: etag
        - partNumber: 1
          ETag: etag
      properties:
        uploadId:
          type: string
        parts:
          items:
            $ref: "#/components/schemas/CompletedPartDto"
          type: array
      required:
      - parts
      - uploadId
      type: object
    CompleteMultipartUploadResponse:
      example:
        s3Url: s3 url
        s3Key: s3 key
      properties:
        s3Url:
          example: s3 url
          type: string
        s3Key:
          example: s3 key
          type: string
      required:
      - s3Key
      - s3Url
      type: object
    CompleteMultipartUploadResponseDto:
      example:
        message: Operation successful
        data:
          s3Url: s3 url
          s3Key: s3 key
      properties:
        message:
          example: Operation successful
          type: string
        data:
          $ref: "#/components/schemas/CompleteMultipartUploadResponse"
      required:
      - data
      - message
      type: object
    ConflictErrorResponseDto:
      example:
        code: 409
        message: Resource already exists
      properties:
        code:
          example: 409
          type: number
        message:
          example: Resource already exists
          type: string
      required:
      - code
      - message
      type: object
    Coordinates:
      example:
        latitude: 39.9008
        longitude: -75.1675
      properties:
        latitude:
          example: 39.9008
          type: number
        longitude:
          example: -75.1675
          type: number
      required:
      - latitude
      - longitude
      type: object
    CoordinatesDto:
      example:
        latitude: 39.9008
        longitude: -75.1652
      properties:
        latitude:
          example: 39.9008
          type: number
        longitude:
          example: -75.1652
          type: number
      required:
      - latitude
      - longitude
      type: object
    CreateClassificationDto:
      example:
        name: Vikings
        description: This is classification description
      properties:
        name:
          example: Vikings
          type: string
        description:
          example: This is classification description
          type: string
      required:
      - description
      - name
      type: object
    CreateMascotDto:
      example:
        name: Vikings
        description: This is mascot description
      properties:
        name:
          example: Vikings
          type: string
        description:
          example: This is mascot description
          type: string
      required:
      - description
      - name
      type: object
    CreateTeamDto:
      example:
        name: Team A
        shortName: LFC
        city: Chicago
        state: California
        mascots:
        - 64c8882b9b1df9b17324aabc
        - 64c8882b9b1df9b17324aabd
        classification: 64c8882b9b1df9b17324aabe
      properties:
        name:
          example: Team A
          type: string
        shortName:
          example: LFC
          type: string
        city:
          example: Chicago
          type: string
        state:
          enum:
          - Alabama
          - Alaska
          - Arizona
          - Arkansas
          - California
          - Colorado
          - Connecticut
          - Delaware
          - Florida
          - Georgia
          - Hawaii
          - Idaho
          - Illinois
          - Indiana
          - Iowa
          - Kansas
          - Kentucky
          - Louisiana
          - Maine
          - Maryland
          - Massachusetts
          - Michigan
          - Minnesota
          - Mississippi
          - Missouri
          - Montana
          - Nebraska
          - Nevada
          - New Hampshire
          - New Jersey
          - New Mexico
          - New York
          - North Carolina
          - North Dakota
          - Ohio
          - Oklahoma
          - Oregon
          - Pennsylvania
          - Rhode Island
          - South Carolina
          - South Dakota
          - Tennessee
          - Texas
          - Utah
          - Vermont
          - Virginia
          - Washington
          - West Virginia
          - Wisconsin
          - Wyoming
          example: California
          type: string
        mascots:
          description: Array of Mascot IDs (must not be empty)
          example:
          - 64c8882b9b1df9b17324aabc
          - 64c8882b9b1df9b17324aabd
          items:
            type: string
          type: array
        classification:
          description: Classification ID
          example: 64c8882b9b1df9b17324aabe
          type: string
      required:
      - classification
      - mascots
      - name
      - shortName
      type: object
    CreateTeamResponseDto:
      example:
        _id: 69c2b97794074e4cb18028a5
        name: Testing Team
        shortName: T Team
        sport: FOOTBALL
        mascots:
        - 69b14f4a172b65400e92bcf2
        classification: 69b14f4a172b65400e92bcf2
        city: Kathmandu
        state: Alaska
        createdAt: 2026-03-24T16:19:03.163Z
        updatedAt: 2026-03-24T16:19:03.163Z
      properties:
        _id:
          example: 69c2b97794074e4cb18028a5
          type: string
        name:
          example: Testing Team
          type: string
        shortName:
          example: T Team
          type: string
        sport:
          example: FOOTBALL
          type: string
        mascots:
          example:
          - 69b14f4a172b65400e92bcf2
          items:
            type: string
          type: array
        classification:
          example: 69b14f4a172b65400e92bcf2
          type: string
        city:
          example: Kathmandu
          type: string
        state:
          example: Alaska
          type: string
        createdAt:
          example: 2026-03-24T16:19:03.163Z
          type: string
        updatedAt:
          example: 2026-03-24T16:19:03.163Z
          type: string
      required:
      - _id
      - city
      - classification
      - createdAt
      - mascots
      - name
      - shortName
      - sport
      - state
      - updatedAt
      type: object
    CreateVenueDto:
      example:
        name: Lincoln Financial Field
        playingSurface: Natural Grass
        address:
          street: 1 Lincoln Financial Field Way
          city: Philadelphia
          state: PA
          postalCode: "19148"
          country: US
        coordinates:
          latitude: 39.9008
          longitude: -75.1652
      properties:
        name:
          example: Lincoln Financial Field
          type: string
        playingSurface:
          example: Natural Grass
          type: string
        address:
          $ref: "#/components/schemas/AddressDto"
        coordinates:
          $ref: "#/components/schemas/CoordinatesDto"
      required:
      - address
      - name
      - playingSurface
      type: object
    DefenseSectionDto:
      example:
        players:
        - playerName: Quay Walker
          jerseyNumber: 7
          playerId: lb7
          totalTackles: 8
          soloTackles: 4
          sacks: 0.5
          tacklesForLoss: 0
          passesDefended: 0
          qbHits: 1
          defensiveTouchdowns: 0
        - playerName: Quay Walker
          jerseyNumber: 7
          playerId: lb7
          totalTackles: 8
          soloTackles: 4
          sacks: 0.5
          tacklesForLoss: 0
          passesDefended: 0
          qbHits: 1
          defensiveTouchdowns: 0
        totals:
          totalTackles: 8
          soloTackles: 4
          sacks: 0.5
          tacklesForLoss: 0
          passesDefended: 0
          qbHits: 1
          defensiveTouchdowns: 0
      properties:
        players:
          items:
            $ref: "#/components/schemas/DefenseStatsDto"
          type: array
        totals:
          $ref: "#/components/schemas/DefenseTotalsDto"
      required:
      - players
      - totals
      type: object
    DefenseStatsDto:
      example:
        playerName: Quay Walker
        jerseyNumber: 7
        playerId: lb7
        totalTackles: 8
        soloTackles: 4
        sacks: 0.5
        tacklesForLoss: 0
        passesDefended: 0
        qbHits: 1
        defensiveTouchdowns: 0
      properties:
        playerName:
          example: Quay Walker
          type: string
        jerseyNumber:
          example: 7
          type: number
        playerId:
          example: lb7
          type: string
        totalTackles:
          description: TOT — solo + assisted tackles combined
          example: 8
          type: number
        soloTackles:
          description: SOLO tackles
          example: 4
          type: number
        sacks:
          description: SACKS — may be fractional (0.5 for shared sack)
          example: 0.5
          type: number
        tacklesForLoss:
          description: TFL — tackles for loss
          example: 0
          type: number
        passesDefended:
          description: PD — passes defended
          example: 0
          type: number
        qbHits:
          description: QB HTS — quarterback hits
          example: 1
          type: number
        defensiveTouchdowns:
          description: "TD — defensive touchdowns (pick-six, fumble return)"
          example: 0
          type: number
      required:
      - defensiveTouchdowns
      - jerseyNumber
      - passesDefended
      - playerId
      - playerName
      - qbHits
      - sacks
      - soloTackles
      - tacklesForLoss
      - totalTackles
      type: object
    DefenseTotalsDto:
      example:
        totalTackles: 8
        soloTackles: 4
        sacks: 0.5
        tacklesForLoss: 0
        passesDefended: 0
        qbHits: 1
        defensiveTouchdowns: 0
      properties:
        totalTackles:
          description: TOT — solo + assisted tackles combined
          example: 8
          type: number
        soloTackles:
          description: SOLO tackles
          example: 4
          type: number
        sacks:
          description: SACKS — may be fractional (0.5 for shared sack)
          example: 0.5
          type: number
        tacklesForLoss:
          description: TFL — tackles for loss
          example: 0
          type: number
        passesDefended:
          description: PD — passes defended
          example: 0
          type: number
        qbHits:
          description: QB HTS — quarterback hits
          example: 1
          type: number
        defensiveTouchdowns:
          description: "TD — defensive touchdowns (pick-six, fumble return)"
          example: 0
          type: number
      required:
      - defensiveTouchdowns
      - passesDefended
      - qbHits
      - sacks
      - soloTackles
      - tacklesForLoss
      - totalTackles
      type: object
    DeleteResponseDto:
      example:
        message: Operation successful
        data: "{}"
      properties:
        message:
          example: Operation successful
          type: string
        data:
          type: object
          example: null
      required:
      - data
      - message
      type: object
    DownEfficiencyDto:
      example:
        down: 0.8008281904610115
        conversions: 6.027456183070403
      properties:
        down:
          type: number
        conversions:
          type: number
      required:
      - conversions
      - down
      type: object
    FetchTeamResponseDto:
      example:
        _id: 69c0bf178817c85a7d11b716
        name: JAK
        shortName: JA
        sport: FOOTBALL
        city: Kathmandu
        state: Alaska
        mascots:
          _id: 69bce3618817c85a7d1118f2
          name: ra
        classification:
        - _id: 69b13dc5172b65400e926b31
          name: GRANT_CLS_315
        createdAt: 2026-03-23T04:18:31.588Z
        updatedAt: 2026-03-23T04:18:31.588Z
      properties:
        _id:
          example: 69c0bf178817c85a7d11b716
          type: string
        name:
          example: JAK
          type: string
        shortName:
          example: JA
          type: string
        sport:
          example: FOOTBALL
          type: string
        city:
          example: Kathmandu
          type: string
        state:
          example: Alaska
          type: string
        mascots:
          allOf:
          - $ref: "#/components/schemas/Mascot"
          example:
            _id: 69bce3618817c85a7d1118f2
            name: ra
        classification:
          example:
          - _id: 69b13dc5172b65400e926b31
            name: GRANT_CLS_315
          items:
            $ref: "#/components/schemas/Classification"
          type: array
        createdAt:
          example: 2026-03-23T04:18:31.588Z
          type: string
        updatedAt:
          example: 2026-03-23T04:18:31.588Z
          type: string
      required:
      - _id
      - city
      - classification
      - createdAt
      - mascots
      - name
      - shortName
      - sport
      - state
      - updatedAt
      type: object
    FumbleSectionDto:
      example:
        players:
        - playerName: Josh Jacobs
          jerseyNumber: 8
          playerId: rb26
          fumbles: 1
          lost: 0
          recovered: 0
        - playerName: Josh Jacobs
          jerseyNumber: 8
          playerId: rb26
          fumbles: 1
          lost: 0
          recovered: 0
        totals:
          fumbles: 1
          lost: 0
          recovered: 0
      properties:
        players:
          items:
            $ref: "#/components/schemas/FumbleStatsDto"
          type: array
        totals:
          $ref: "#/components/schemas/FumbleTotalsDto"
      required:
      - players
      - totals
      type: object
    FumbleStatsDto:
      example:
        playerName: Josh Jacobs
        jerseyNumber: 8
        playerId: rb26
        fumbles: 1
        lost: 0
        recovered: 0
      properties:
        playerName:
          example: Josh Jacobs
          type: string
        jerseyNumber:
          example: 8
          type: number
        playerId:
          example: rb26
          type: string
        fumbles:
          example: 1
          type: number
        lost:
          example: 0
          type: number
        recovered:
          example: 0
          type: number
      required:
      - fumbles
      - jerseyNumber
      - lost
      - playerId
      - playerName
      - recovered
      type: object
    FumbleTotalsDto:
      example:
        fumbles: 1
        lost: 0
        recovered: 0
      properties:
        fumbles:
          example: 1
          type: number
        lost:
          example: 0
          type: number
        recovered:
          example: 0
          type: number
      required:
      - fumbles
      - lost
      - recovered
      type: object
    GameAllPlayListItemDto:
      example:
        playId: play-id
        playNumber: 1
        clip:
          startTime: 00:01:23
          endTime: 00:01:33
          duration: 00:00:10
          urlOriginal: https://example.com/original.mp4
          urlAnalyzed: https://example.com/analyzed.mp4
          urlThumbnail: https://example.com/thumbnail.jpg
          analyzedVideoOriginalJson: https://example.com/original.json
          analyzedVideoRawJson: https://example.com/raw.json
          analyzedVideoSummary: https://example.com/summary.url
        attributes:
          type: Pass
          period: "1"
          possessionTeamId: team-id
          down: 1
          distance: 10
          lineOfScrimmage:
            sideOfField: OWN
            yardLine: 25
          offensivePersonnel: "12"
          defensivePersonnel: 4-2-5
        events: []
        videoId: video-id
      properties:
        playId:
          example: play-id
          type: string
        playNumber:
          example: 1
          type: number
        clip:
          $ref: "#/components/schemas/PlayClipListDetailsDto"
        attributes:
          $ref: "#/components/schemas/PlayAttributesListDto"
        events:
          example: []
          items:
            type: object
          type: array
        videoId:
          example: video-id
          type: string
      required:
      - attributes
      - clip
      - events
      - playId
      - playNumber
      - videoId
      type: object
    GameBoxScoreMetaDto:
      example:
        gameId: 69e726ec40948bc7f421f3ba
        gameTitle: Green Bay Packers vs Philadelphia Eagles
        videoId: 69e726ec40948bc7f421f3ba
        viewType: All-22 Sideline
        homeTeam: Green Bay Packers
        awayTeam: Philadelphia Eagles
        homeScore: 20
        awayScore: 34
        generatedAt: 2025-07-14T10:30:00.000Z
      properties:
        gameId:
          example: 69e726ec40948bc7f421f3ba
          type: string
        gameTitle:
          example: Green Bay Packers vs Philadelphia Eagles
          type: string
        videoId:
          example: 69e726ec40948bc7f421f3ba
          type: string
        viewType:
          example: All-22 Sideline
          type: string
        homeTeam:
          example: Green Bay Packers
          type: string
        awayTeam:
          example: Philadelphia Eagles
          type: string
        homeScore:
          example: 20
          type: number
        awayScore:
          example: 34
          type: number
        generatedAt:
          description: ISO 8601 timestamp
          example: 2025-07-14T10:30:00.000Z
          type: string
      required:
      - awayScore
      - awayTeam
      - gameId
      - gameTitle
      - generatedAt
      - homeScore
      - homeTeam
      - videoId
      - viewType
      type: object
    GameBoxScoreResponseDto:
      example:
        meta:
          gameId: 69e726ec40948bc7f421f3ba
          gameTitle: Green Bay Packers vs Philadelphia Eagles
          videoId: 69e726ec40948bc7f421f3ba
          viewType: All-22 Sideline
          homeTeam: Green Bay Packers
          awayTeam: Philadelphia Eagles
          homeScore: 20
          awayScore: 34
          generatedAt: 2025-07-14T10:30:00.000Z
        teams:
          home:
            teamId: 69e60993e0ce1105d162eff3
            teamName: Philadelphia Eagles
            logoUrl: https://cdn.example.com/logos/phi.png
            passing:
              players:
              - playerName: Jalen Hurts
                jerseyNumber: 1
                playerId: qb15
                completions: 13
                attempts: 21
                yards: 131
                avg: 6.2
                touchdowns: 2
                interceptions: 0
                sacks: 2
                sackYardsLost: 10
                qbr: 59.2
                passer_rating: 111.4
              - playerName: Jalen Hurts
                jerseyNumber: 1
                playerId: qb15
                completions: 13
                attempts: 21
                yards: 131
                avg: 6.2
                touchdowns: 2
                interceptions: 0
                sacks: 2
                sackYardsLost: 10
                qbr: 59.2
                passer_rating: 111.4
              totals:
                completions: 13
                attempts: 21
                yards: 131
                avg: 6.2
                touchdowns: 2
                interceptions: 0
                sacks: 2
                sackYardsLost: 10
                qbr: 59.2
                passer_rating: 111.4
            rushing:
              players:
              - playerName: Saquon Barkley
                jerseyNumber: 26
                playerId: rb26
                carries: 25
                yards: 119
                avg: 4.8
                touchdowns: 0
                long: 17
              - playerName: Saquon Barkley
                jerseyNumber: 26
                playerId: rb26
                carries: 25
                yards: 119
                avg: 4.8
                touchdowns: 0
                long: 17
              totals:
                carries: 25
                yards: 119
                avg: 4.8
                touchdowns: 0
                long: 17
            receiving:
              players:
              - playerName: DeVonta Smith
                jerseyNumber: 6
                playerId: wr6
                receptions: 4
                yards: 55
                avg: 13.8
                touchdowns: 0
                long: 28
                targets: 4
              - playerName: DeVonta Smith
                jerseyNumber: 6
                playerId: wr6
                receptions: 4
                yards: 55
                avg: 13.8
                touchdowns: 0
                long: 28
                targets: 4
              totals:
                receptions: 4
                yards: 55
                avg: 13.8
                touchdowns: 0
                long: 28
                targets: 4
            fumbles:
              players:
              - playerName: Josh Jacobs
                jerseyNumber: 8
                playerId: rb26
                fumbles: 1
                lost: 0
                recovered: 0
              - playerName: Josh Jacobs
                jerseyNumber: 8
                playerId: rb26
                fumbles: 1
                lost: 0
                recovered: 0
              totals:
                fumbles: 1
                lost: 0
                recovered: 0
            defense:
              players:
              - playerName: Quay Walker
                jerseyNumber: 7
                playerId: lb7
                totalTackles: 8
                soloTackles: 4
                sacks: 0.5
                tacklesForLoss: 0
                passesDefended: 0
                qbHits: 1
                defensiveTouchdowns: 0
              - playerName: Quay Walker
                jerseyNumber: 7
                playerId: lb7
                totalTackles: 8
                soloTackles: 4
                sacks: 0.5
                tacklesForLoss: 0
                passesDefended: 0
                qbHits: 1
                defensiveTouchdowns: 0
              totals:
                totalTackles: 8
                soloTackles: 4
                sacks: 0.5
                tacklesForLoss: 0
                passesDefended: 0
                qbHits: 1
                defensiveTouchdowns: 0
            kicking:
              players:
              - playerName: Evan McPherson
                jerseyNumber: 2
                playerId: k2
                fieldGoalsAttempted: 1
                fieldGoalsMade: 1
                fieldGoalPct: 100
                longFieldGoal: 45
                extraPointsAttempted: 1
                extraPointsMade: 1
                totalPoints: 4
              - playerName: Evan McPherson
                jerseyNumber: 2
                playerId: k2
                fieldGoalsAttempted: 1
                fieldGoalsMade: 1
                fieldGoalPct: 100
                longFieldGoal: 45
                extraPointsAttempted: 1
                extraPointsMade: 1
                totalPoints: 4
              totals:
                fieldGoalsAttempted: 1
                fieldGoalsMade: 1
                fieldGoalPct: 100
                longFieldGoal: 45
                extraPointsAttempted: 1
                extraPointsMade: 1
                totalPoints: 4
            interceptions:
              players:
              - playerName: Darius Slay
                jerseyNumber: 2
                playerId: db2
                interceptions: 1
                yards: 16
                touchdowns: 0
              - playerName: Darius Slay
                jerseyNumber: 2
                playerId: db2
                interceptions: 1
                yards: 16
                touchdowns: 0
              totals:
                interceptions: 1
                yards: 16
                touchdowns: 0
          away:
            teamId: 69e60993e0ce1105d162eff3
            teamName: Philadelphia Eagles
            logoUrl: https://cdn.example.com/logos/phi.png
            passing:
              players:
              - playerName: Jalen Hurts
                jerseyNumber: 1
                playerId: qb15
                completions: 13
                attempts: 21
                yards: 131
                avg: 6.2
                touchdowns: 2
                interceptions: 0
                sacks: 2
                sackYardsLost: 10
                qbr: 59.2
                passer_rating: 111.4
              - playerName: Jalen Hurts
                jerseyNumber: 1
                playerId: qb15
                completions: 13
                attempts: 21
                yards: 131
                avg: 6.2
                touchdowns: 2
                interceptions: 0
                sacks: 2
                sackYardsLost: 10
                qbr: 59.2
                passer_rating: 111.4
              totals:
                completions: 13
                attempts: 21
                yards: 131
                avg: 6.2
                touchdowns: 2
                interceptions: 0
                sacks: 2
                sackYardsLost: 10
                qbr: 59.2
                passer_rating: 111.4
            rushing:
              players:
              - playerName: Saquon Barkley
                jerseyNumber: 26
                playerId: rb26
                carries: 25
                yards: 119
                avg: 4.8
                touchdowns: 0
                long: 17
              - playerName: Saquon Barkley
                jerseyNumber: 26
                playerId: rb26
                carries: 25
                yards: 119
                avg: 4.8
                touchdowns: 0
                long: 17
              totals:
                carries: 25
                yards: 119
                avg: 4.8
                touchdowns: 0
                long: 17
            receiving:
              players:
              - playerName: DeVonta Smith
                jerseyNumber: 6
                playerId: wr6
                receptions: 4
                yards: 55
                avg: 13.8
                touchdowns: 0
                long: 28
                targets: 4
              - playerName: DeVonta Smith
                jerseyNumber: 6
                playerId: wr6
                receptions: 4
                yards: 55
                avg: 13.8
                touchdowns: 0
                long: 28
                targets: 4
              totals:
                receptions: 4
                yards: 55
                avg: 13.8
                touchdowns: 0
                long: 28
                targets: 4
            fumbles:
              players:
              - playerName: Josh Jacobs
                jerseyNumber: 8
                playerId: rb26
                fumbles: 1
                lost: 0
                recovered: 0
              - playerName: Josh Jacobs
                jerseyNumber: 8
                playerId: rb26
                fumbles: 1
                lost: 0
                recovered: 0
              totals:
                fumbles: 1
                lost: 0
                recovered: 0
            defense:
              players:
              - playerName: Quay Walker
                jerseyNumber: 7
                playerId: lb7
                totalTackles: 8
                soloTackles: 4
                sacks: 0.5
                tacklesForLoss: 0
                passesDefended: 0
                qbHits: 1
                defensiveTouchdowns: 0
              - playerName: Quay Walker
                jerseyNumber: 7
                playerId: lb7
                totalTackles: 8
                soloTackles: 4
                sacks: 0.5
                tacklesForLoss: 0
                passesDefended: 0
                qbHits: 1
                defensiveTouchdowns: 0
              totals:
                totalTackles: 8
                soloTackles: 4
                sacks: 0.5
                tacklesForLoss: 0
                passesDefended: 0
                qbHits: 1
                defensiveTouchdowns: 0
            kicking:
              players:
              - playerName: Evan McPherson
                jerseyNumber: 2
                playerId: k2
                fieldGoalsAttempted: 1
                fieldGoalsMade: 1
                fieldGoalPct: 100
                longFieldGoal: 45
                extraPointsAttempted: 1
                extraPointsMade: 1
                totalPoints: 4
              - playerName: Evan McPherson
                jerseyNumber: 2
                playerId: k2
                fieldGoalsAttempted: 1
                fieldGoalsMade: 1
                fieldGoalPct: 100
                longFieldGoal: 45
                extraPointsAttempted: 1
                extraPointsMade: 1
                totalPoints: 4
              totals:
                fieldGoalsAttempted: 1
                fieldGoalsMade: 1
                fieldGoalPct: 100
                longFieldGoal: 45
                extraPointsAttempted: 1
                extraPointsMade: 1
                totalPoints: 4
            interceptions:
              players:
              - playerName: Darius Slay
                jerseyNumber: 2
                playerId: db2
                interceptions: 1
                yards: 16
                touchdowns: 0
              - playerName: Darius Slay
                jerseyNumber: 2
                playerId: db2
                interceptions: 1
                yards: 16
                touchdowns: 0
              totals:
                interceptions: 1
                yards: 16
                touchdowns: 0
      properties:
        meta:
          $ref: "#/components/schemas/GameBoxScoreMetaDto"
        teams:
          $ref: "#/components/schemas/GameBoxScoreTeamsDto"
      required:
      - meta
      - teams
      type: object
    GameBoxScoreTeamsDto:
      example:
        home:
          teamId: 69e60993e0ce1105d162eff3
          teamName: Philadelphia Eagles
          logoUrl: https://cdn.example.com/logos/phi.png
          passing:
            players:
            - playerName: Jalen Hurts
              jerseyNumber: 1
              playerId: qb15
              completions: 13
              attempts: 21
              yards: 131
              avg: 6.2
              touchdowns: 2
              interceptions: 0
              sacks: 2
              sackYardsLost: 10
              qbr: 59.2
              passer_rating: 111.4
            - playerName: Jalen Hurts
              jerseyNumber: 1
              playerId: qb15
              completions: 13
              attempts: 21
              yards: 131
              avg: 6.2
              touchdowns: 2
              interceptions: 0
              sacks: 2
              sackYardsLost: 10
              qbr: 59.2
              passer_rating: 111.4
            totals:
              completions: 13
              attempts: 21
              yards: 131
              avg: 6.2
              touchdowns: 2
              interceptions: 0
              sacks: 2
              sackYardsLost: 10
              qbr: 59.2
              passer_rating: 111.4
          rushing:
            players:
            - playerName: Saquon Barkley
              jerseyNumber: 26
              playerId: rb26
              carries: 25
              yards: 119
              avg: 4.8
              touchdowns: 0
              long: 17
            - playerName: Saquon Barkley
              jerseyNumber: 26
              playerId: rb26
              carries: 25
              yards: 119
              avg: 4.8
              touchdowns: 0
              long: 17
            totals:
              carries: 25
              yards: 119
              avg: 4.8
              touchdowns: 0
              long: 17
          receiving:
            players:
            - playerName: DeVonta Smith
              jerseyNumber: 6
              playerId: wr6
              receptions: 4
              yards: 55
              avg: 13.8
              touchdowns: 0
              long: 28
              targets: 4
            - playerName: DeVonta Smith
              jerseyNumber: 6
              playerId: wr6
              receptions: 4
              yards: 55
              avg: 13.8
              touchdowns: 0
              long: 28
              targets: 4
            totals:
              receptions: 4
              yards: 55
              avg: 13.8
              touchdowns: 0
              long: 28
              targets: 4
          fumbles:
            players:
            - playerName: Josh Jacobs
              jerseyNumber: 8
              playerId: rb26
              fumbles: 1
              lost: 0
              recovered: 0
            - playerName: Josh Jacobs
              jerseyNumber: 8
              playerId: rb26
              fumbles: 1
              lost: 0
              recovered: 0
            totals:
              fumbles: 1
              lost: 0
              recovered: 0
          defense:
            players:
            - playerName: Quay Walker
              jerseyNumber: 7
              playerId: lb7
              totalTackles: 8
              soloTackles: 4
              sacks: 0.5
              tacklesForLoss: 0
              passesDefended: 0
              qbHits: 1
              defensiveTouchdowns: 0
            - playerName: Quay Walker
              jerseyNumber: 7
              playerId: lb7
              totalTackles: 8
              soloTackles: 4
              sacks: 0.5
              tacklesForLoss: 0
              passesDefended: 0
              qbHits: 1
              defensiveTouchdowns: 0
            totals:
              totalTackles: 8
              soloTackles: 4
              sacks: 0.5
              tacklesForLoss: 0
              passesDefended: 0
              qbHits: 1
              defensiveTouchdowns: 0
          kicking:
            players:
            - playerName: Evan McPherson
              jerseyNumber: 2
              playerId: k2
              fieldGoalsAttempted: 1
              fieldGoalsMade: 1
              fieldGoalPct: 100
              longFieldGoal: 45
              extraPointsAttempted: 1
              extraPointsMade: 1
              totalPoints: 4
            - playerName: Evan McPherson
              jerseyNumber: 2
              playerId: k2
              fieldGoalsAttempted: 1
              fieldGoalsMade: 1
              fieldGoalPct: 100
              longFieldGoal: 45
              extraPointsAttempted: 1
              extraPointsMade: 1
              totalPoints: 4
            totals:
              fieldGoalsAttempted: 1
              fieldGoalsMade: 1
              fieldGoalPct: 100
              longFieldGoal: 45
              extraPointsAttempted: 1
              extraPointsMade: 1
              totalPoints: 4
          interceptions:
            players:
            - playerName: Darius Slay
              jerseyNumber: 2
              playerId: db2
              interceptions: 1
              yards: 16
              touchdowns: 0
            - playerName: Darius Slay
              jerseyNumber: 2
              playerId: db2
              interceptions: 1
              yards: 16
              touchdowns: 0
            totals:
              interceptions: 1
              yards: 16
              touchdowns: 0
        away:
          teamId: 69e60993e0ce1105d162eff3
          teamName: Philadelphia Eagles
          logoUrl: https://cdn.example.com/logos/phi.png
          passing:
            players:
            - playerName: Jalen Hurts
              jerseyNumber: 1
              playerId: qb15
              completions: 13
              attempts: 21
              yards: 131
              avg: 6.2
              touchdowns: 2
              interceptions: 0
              sacks: 2
              sackYardsLost: 10
              qbr: 59.2
              passer_rating: 111.4
            - playerName: Jalen Hurts
              jerseyNumber: 1
              playerId: qb15
              completions: 13
              attempts: 21
              yards: 131
              avg: 6.2
              touchdowns: 2
              interceptions: 0
              sacks: 2
              sackYardsLost: 10
              qbr: 59.2
              passer_rating: 111.4
            totals:
              completions: 13
              attempts: 21
              yards: 131
              avg: 6.2
              touchdowns: 2
              interceptions: 0
              sacks: 2
              sackYardsLost: 10
              qbr: 59.2
              passer_rating: 111.4
          rushing:
            players:
            - playerName: Saquon Barkley
              jerseyNumber: 26
              playerId: rb26
              carries: 25
              yards: 119
              avg: 4.8
              touchdowns: 0
              long: 17
            - playerName: Saquon Barkley
              jerseyNumber: 26
              playerId: rb26
              carries: 25
              yards: 119
              avg: 4.8
              touchdowns: 0
              long: 17
            totals:
              carries: 25
              yards: 119
              avg: 4.8
              touchdowns: 0
              long: 17
          receiving:
            players:
            - playerName: DeVonta Smith
              jerseyNumber: 6
              playerId: wr6
              receptions: 4
              yards: 55
              avg: 13.8
              touchdowns: 0
              long: 28
              targets: 4
            - playerName: DeVonta Smith
              jerseyNumber: 6
              playerId: wr6
              receptions: 4
              yards: 55
              avg: 13.8
              touchdowns: 0
              long: 28
              targets: 4
            totals:
              receptions: 4
              yards: 55
              avg: 13.8
              touchdowns: 0
              long: 28
              targets: 4
          fumbles:
            players:
            - playerName: Josh Jacobs
              jerseyNumber: 8
              playerId: rb26
              fumbles: 1
              lost: 0
              recovered: 0
            - playerName: Josh Jacobs
              jerseyNumber: 8
              playerId: rb26
              fumbles: 1
              lost: 0
              recovered: 0
            totals:
              fumbles: 1
              lost: 0
              recovered: 0
          defense:
            players:
            - playerName: Quay Walker
              jerseyNumber: 7
              playerId: lb7
              totalTackles: 8
              soloTackles: 4
              sacks: 0.5
              tacklesForLoss: 0
              passesDefended: 0
              qbHits: 1
              defensiveTouchdowns: 0
            - playerName: Quay Walker
              jerseyNumber: 7
              playerId: lb7
              totalTackles: 8
              soloTackles: 4
              sacks: 0.5
              tacklesForLoss: 0
              passesDefended: 0
              qbHits: 1
              defensiveTouchdowns: 0
            totals:
              totalTackles: 8
              soloTackles: 4
              sacks: 0.5
              tacklesForLoss: 0
              passesDefended: 0
              qbHits: 1
              defensiveTouchdowns: 0
          kicking:
            players:
            - playerName: Evan McPherson
              jerseyNumber: 2
              playerId: k2
              fieldGoalsAttempted: 1
              fieldGoalsMade: 1
              fieldGoalPct: 100
              longFieldGoal: 45
              extraPointsAttempted: 1
              extraPointsMade: 1
              totalPoints: 4
            - playerName: Evan McPherson
              jerseyNumber: 2
              playerId: k2
              fieldGoalsAttempted: 1
              fieldGoalsMade: 1
              fieldGoalPct: 100
              longFieldGoal: 45
              extraPointsAttempted: 1
              extraPointsMade: 1
              totalPoints: 4
            totals:
              fieldGoalsAttempted: 1
              fieldGoalsMade: 1
              fieldGoalPct: 100
              longFieldGoal: 45
              extraPointsAttempted: 1
              extraPointsMade: 1
              totalPoints: 4
          interceptions:
            players:
            - playerName: Darius Slay
              jerseyNumber: 2
              playerId: db2
              interceptions: 1
              yards: 16
              touchdowns: 0
            - playerName: Darius Slay
              jerseyNumber: 2
              playerId: db2
              interceptions: 1
              yards: 16
              touchdowns: 0
            totals:
              interceptions: 1
              yards: 16
              touchdowns: 0
      properties:
        home:
          $ref: "#/components/schemas/TeamBoxScoreDto"
        away:
          $ref: "#/components/schemas/TeamBoxScoreDto"
      required:
      - away
      - home
      type: object
    GameDetailsResponse:
      example:
        gameName: Final Game
        dateTime: 2026-03-10T10:30:00Z
        gameId: game-id
        sourceId: Game#20260310
        venue: Revolutionary Field
        homeTeam:
          teamId: team-id
          name: Red Wolves
          shortName: RW
          mascot: Wolf
          classification: VARSITY
        awayTeam:
          teamId: team-id
          name: Red Wolves
          shortName: RW
          mascot: Wolf
          classification: VARSITY
      properties:
        gameName:
          example: Final Game
          type: string
        dateTime:
          example: 2026-03-10T10:30:00Z
          format: date-time
          type: string
        gameId:
          example: game-id
          type: string
        sourceId:
          example: Game#20260310
          type: string
        venue:
          example: Revolutionary Field
          type: string
        homeTeam:
          $ref: "#/components/schemas/TeamBasicInfoDto"
        awayTeam:
          $ref: "#/components/schemas/TeamBasicInfoDto"
      required:
      - awayTeam
      - dateTime
      - gameId
      - gameName
      - homeTeam
      - sourceId
      - venue
      type: object
    GameRecapScoringSummaryProResponse:
      example:
        gameId: gameId
        videoId: videoId
        totalScoringPlays: 0.8008281904610115
        scoringPlays:
        - driveNumber: 6.027456183070403
          drivePlaysCount: 1.4658129805029452
          driveYards: 5.962133916683182
          driveTimeOfPossession: driveTimeOfPossession
          playId: playId
          teamId: teamId
          team:
            teamId: teamId
            teamName: teamName
          period: 5.637376656633329
          gameClock: gameClock
          scoringType: TOUCHDOWN
          scoringMethod: RUN
          tryType: EXTRA_POINT
          tryMethod: RUN
          scoringYardage: 2.3021358869347655
          playersInvolved:
          - teamId: teamId
            playerId: playerId
            playerJerseyNumber: 7.061401241503109
            role: PASSER
          - teamId: teamId
            playerId: playerId
            playerJerseyNumber: 7.061401241503109
            role: PASSER
          awayTeamScore: 9.301444243932576
          homeTeamScore: 3.616076749251911
          scoringText: scoringText
        - driveNumber: 6.027456183070403
          drivePlaysCount: 1.4658129805029452
          driveYards: 5.962133916683182
          driveTimeOfPossession: driveTimeOfPossession
          playId: playId
          teamId: teamId
          team:
            teamId: teamId
            teamName: teamName
          period: 5.637376656633329
          gameClock: gameClock
          scoringType: TOUCHDOWN
          scoringMethod: RUN
          tryType: EXTRA_POINT
          tryMethod: RUN
          scoringYardage: 2.3021358869347655
          playersInvolved:
          - teamId: teamId
            playerId: playerId
            playerJerseyNumber: 7.061401241503109
            role: PASSER
          - teamId: teamId
            playerId: playerId
            playerJerseyNumber: 7.061401241503109
            role: PASSER
          awayTeamScore: 9.301444243932576
          homeTeamScore: 3.616076749251911
          scoringText: scoringText
      properties:
        gameId:
          type: string
        videoId:
          type: string
        totalScoringPlays:
          type: number
        scoringPlays:
          items:
            $ref: "#/components/schemas/ProScoringPlayDto"
          type: array
      required:
      - gameId
      - scoringPlays
      - totalScoringPlays
      - videoId
      type: object
    GameRecapScoringSummaryResponse:
      example:
        gameId: gameId
        videoId: videoId
        total: 0.8008281904610115
        data:
        - playId: playId
          period: period
          timeRemaining: timeRemaining
          scoringTeamId: scoringTeamId
          scoreType: scoreType
          scoreMethod: scoreMethod
          scoreYardage: 6.027456183070403
          homeScore: 1.4658129805029452
[...]
